/*---------------------------
   Fileobj.RC resource script
  ---------------------------*/
#include <windows.h>
#include <ver.h>
#include "imexdlg.h"


STRINGTABLE 
BEGIN
  IDS_FILTERSTRING, "Data Files (*.DAT)|*.dat|VAB Files (*.VAB)|*.vab|Text Files (*.TXT)|*.txt|All Files (*.*)|*.*|"
END

ExportConfiguration DIALOG 12, 23, 262, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Export Configuration"
FONT 8, "Helv"
BEGIN
  CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 216, 6, 40, 14
  PUSHBUTTON "Cancel", IDCANCEL, 216, 25, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help", IDHELP, 216, 53, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  LTEXT "&Export Fields:", -1, 10, 8, 63, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", IDL_FILE, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 10, 19, 60, 97
  CONTROL "<< &Tie <<", IDD_TIE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP, 79, 6, 50, 14
  CONTROL "<< Tie A&ll <<", IDD_TIEALL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 79, 22, 50, 14
  CONTROL "<< &Untie", IDD_UNTIE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 79, 38, 50, 14
  CONTROL "<< A&dd", IDD_ADD, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 79, 58, 50, 14
  PUSHBUTTON "<< &Add...", IDD_ADDNUM, 79, 74, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  CONTROL "<< &Insert", IDD_INSERT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 79, 90, 50, 14
  CONTROL "<< &Remove", IDD_REMOVE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 79, 106, 50, 14
  LTEXT "Available &Objects:", -1, 139, 8, 62, 8, WS_CHILD | WS_VISIBLE
  CONTROL "", IDL_APPLICATION, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 139, 19, 60, 97
  LTEXT " &Field Delimiter:", -1, 6, 125, 95, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "Ta&bs", IDD_TABS, "BorRadio", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 11, 139, 28, 10
  CONTROL "&Commas", IDD_COMMAS, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 11, 150, 48, 10
  LTEXT " Other Options", -1, 107, 125, 96, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "&Show Status", IDD_SHOW, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 111, 139, 54, 10
  CONTROL "Field &Names in Record 1", IDD_IGNORE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 111, 150, 91, 10
  CONTROL "", 103, "BorShade", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 107, 135, 97, 29
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 6, 68, 114
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 135, 6, 69, 114
  CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 209, 6, 2, 158
  CONTROL "", 103, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 6, 135, 96, 29
END

addnumtofield DIALOG 20, 34, 109, 53
STYLE DS_MODALFRAME | WS_POPUP | WS_DLGFRAME | WS_SYSMENU
CLASS "bordlg"
CAPTION ""
FONT 8, "Helv"
BEGIN
  LTEXT "&Add", -1, 12, 13, 14, 8
  EDITTEXT IDE_NUM, 29, 11, 24, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
  LTEXT "fields to file.", -1, 57, 13, 43, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 6, 33, 40, 14
  PUSHBUTTON "Cancel", IDCANCEL, 62, 33, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  CONTROL "", 120, "BorShade", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 7, 96, 20
END

ImportConfiguration DIALOG 12, 23, 262, 186
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Import Configuration"
FONT 8, "Helv"
BEGIN
  CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 216, 6, 40, 14
  PUSHBUTTON "Cancel", IDCANCEL, 216, 25, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help", IDHELP, 216, 53, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  LTEXT "Im&port Fields:", -1, 10, 8, 63, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", IDL_FILE, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 10, 19, 60, 117
  CONTROL "<< &Tie <<", IDD_TIE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP, 79, 6, 50, 14
  CONTROL "<< Tie A&ll <<", IDD_TIEALL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 79, 22, 50, 14
  CONTROL "<< &Untie", IDD_UNTIE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 79, 38, 50, 14
  CONTROL "<< A&dd", IDD_ADD, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 79, 58, 50, 14
  PUSHBUTTON "<< &Add...", IDD_ADDNUM, 79, 74, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  CONTROL "<< &Insert", IDD_INSERT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 79, 90, 50, 14
  CONTROL "<< &Remove", IDD_REMOVE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 79, 106, 50, 14
  PUSHBUTTON "First Record..", IDD_FIRSTRECORD, 79, 122, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  LTEXT "Available &Objects:", -1, 139, 8, 62, 8, WS_CHILD | WS_VISIBLE
  CONTROL "", IDL_APPLICATION, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 139, 19, 60, 117
  LTEXT " &Field Delimiter:", -1, 6, 141, 95, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "Ta&bs", IDD_TABS, "BorRadio", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 11, 155, 60, 10
  CONTROL "&Commas", IDD_COMMAS, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 11, 166, 48, 10
  LTEXT " Other Options", -1, 107, 141, 96, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "&Show Status", IDD_SHOW, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 111, 155, 54, 10
  CONTROL "Ig&nore First Line", IDD_IGNORE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 111, 166, 91, 10
  CONTROL "", 103, "BorShade", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 107, 151, 97, 29
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 6, 68, 130
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 135, 6, 69, 130
  CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 209, 6, 2, 174
  CONTROL "", 103, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 6, 151, 96, 29
END

ImportExport DIALOG 22, 43, 298, 165
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Import / Export Object Definition"
FONT 8, "Helv"
BEGIN
  CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 250, 36, 40, 14
  PUSHBUTTON "Cancel", IDCANCEL, 250, 55, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "I&mport...", IDD_IMPORTCONF, 250, 74, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "E&xport...", IDD_EXPORTCONF, 250, 93, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help", IDHELP, 250, 119, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  CONTROL "O&bjects in Im/Ex:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 38, 64, 8
  CONTROL "", IDL_SELECTED, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 10, 49, 60, 78
  CONTROL " << A&dd <<", IDD_ADD, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP, 79, 57, 40, 14
  CONTROL "&Remove", IDD_REMOVE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 79, 77, 40, 14
  CONTROL "&Edit", IDD_EDIT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 79, 97, 40, 14
  LTEXT "&Available Objects:", -1, 128, 38, 70, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", IDL_AVAILABLE, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 128, 49, 60, 78
  CONTROL "&Text", IDD_TEXT, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 193, 52, 43, 10
  CONTROL "&Number", IDD_NUMBER, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 68, 43, 10
  CONTROL "&Date", IDD_DATE, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 84, 43, 10
  CONTROL "T&ime", IDD_TIME, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 100, 43, 10
  CONTROL "&Other", IDD_OTHER, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 116, 43, 10
  CONTROL "&Field Name:", IDS_FIELDNAME, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 13, 145, 42, 12
  CONTROL "", IDE_FIELDNAME, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 58, 143, 174, 12
  CONTROL "", 118, "BorShade", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 139, 231, 20
  ICON "impexp", -1, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
  LTEXT "", IDD_OBJECT, 28, 5, 264, 19
  CONTROL "", -1, "BorShade", BSS_HDIP | WS_CHILD | WS_VISIBLE, 0, 29, 297, 2
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 36, 69, 98
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 124, 36, 113, 98
  CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 243, 36, 2, 123
END

Status DIALOG 37, 50, 192, 70
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION
CLASS "bordlg"
CAPTION "Status"
FONT 8, "Helv"
BEGIN
  CONTROL "Records Imported:", ID_TEXT, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 59, 10, 60, 8
  LTEXT "0", ID_RECORDS, 121, 10, 42, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  PUSHBUTTON "Cancel", IDCANCEL, 73, 51, 45, 14
  LTEXT "100%", -1, 161, 35, 20, 8
  LTEXT "0%", -1, 11, 35, 13, 8
  CONTROL "", IDD_BAR, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 12, 22, 166, 10
  CONTROL "", 102, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 6, 6, 179, 40
END


impexp ICON "imptexpt.ico"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Import/Export Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "ALM_IMEX\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_IMEX.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
