/*                                                                        *\
    (c) 1993, Novell, Inc.  All rights reserved.

    THIS  WORK  IS  AN  UNPUBLISHED  WORK  AND  CONTAINS   CONFIDENTIAL,
    PROPRIETARY, AND TRADE SECRET INFORMATION OF NOVELL, INC.  ACCESS TO
    THIS WORK IS RESTRICTED TO (I) NOVELL EMPLOYEES WHO HAVE A  NEED  TO
    KNOW TO PERFORM THEIR TASKS WITHIN THE SCOPE  OF  THEIR  ASSIGNMENTS
    AND  (II)  ENTITIES  OTHER  THAN  NOVELL  WHO  HAVE   ENTERED   INTO
    APPROPRIATE LICENCE AGREEMENTS.  NO PART OF THIS WORK MAY  BE  USED,
    PRACTICED,  PERFORMED,  COPIED,  DISTRIBUTED,   REVISED,   MODIFIED,
    TRANSLATED,  ABRIDGED,  CONDENSED,  EXPANDED,  COLLECTED,  COMPILED,
    LINKED, RECAST, TRANSFORMED, OR ADAPTED WITHOUT  THE  PRIOR  WRITTEN
    CONSENT OF NOVELL.  ANY USE OR EXPLOITATION  OF  THIS  WORK  WITHOUT
    AUTHORIZATION COULD SUBJECT THE PERPETRATOR TO  CRIMINAL  AND  CIVIL
    LIABILITY.
\*                                                                        */

/*------------------------------------------------------------------------*\
 | FILE         : QSQL.RC                                                 |
 | DESCRIPTION  : Q+E SQL Objects Resource File.                          |
 | COPYRIGHT    : Novell, Inc.                                            |
 | EDIT LOG     :                                                         |
 |   v1.00.00     mw    01-Nov-1993  Initial Edit                         |
\*------------------------------------------------------------------------*/
#include <ver.h>
#include "qsql_rc.h"


Qcnc DIALOG 50, 50, 236, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "Helv"
{
 ICON "qcnc", -1, 6, 4, 18, 20, WS_CHILD | WS_VISIBLE
 LTEXT "", IDD_OBJECT, 30, 6, 200, 16, WS_CHILD | WS_VISIBLE | WS_GROUP
 DEFPUSHBUTTON "OK", IDOK, 190, 36, 40, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 190, 54, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 190, 84, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
 GROUPBOX "&Connection Parameters", -1, 6, 38, 172, 68, BS_GROUPBOX
 LTEXT "&Username:", -1, 12, 54, 60, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
 COMBOBOX IDC_USERNAME, 72, 52, 100, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 LTEXT "&Password:", -1, 12, 72, 60, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
 COMBOBOX IDC_PASSWORD, 72, 70, 100, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 LTEXT "&Other Parameters:", -1, 12, 90, 60, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
 COMBOBOX IDC_PARAMS, 72, 88, 100, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 GROUPBOX "", -1, 6, 110, 62, 18, BS_GROUPBOX
 CHECKBOX "&Auto Commit", IDD_AUTOCOMMIT, 12, 117, 52, 10, BS_AUTOCHECKBOX | WS_TABSTOP
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 0, 28, 236, 1
}
qcnc  ICON "qcnc.ico"

Qsql DIALOG 50, 10, 234, 104
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "Helv"
{
 ICON "qsql", -1, 6, 4, 18, 20, WS_CHILD | WS_VISIBLE
 LTEXT "", IDD_OBJECT, 30, 6, 198, 16, WS_CHILD | WS_VISIBLE | WS_GROUP
 DEFPUSHBUTTON "OK", IDOK, 186, 36, 42, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 186, 54, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 186, 84, 42, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
 GROUPBOX "", -1, 6, 32, 168, 46, BS_GROUPBOX
 LTEXT "&Connection Via:", -1, 12, 44, 52, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 COMBOBOX IDC_CONNOBJ, 68, 42, 100, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 LTEXT "&SQL Statement:", -1, 12, 62, 52, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 COMBOBOX IDC_SQLOBJ, 68, 60, 100, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "&Variables...", IDD_VARS, 20, 84, 54, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Options...", IDD_OPTIONS, 102, 84, 54, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 0, 28, 234, 1
}
qsql  ICON "qsql.ico"

QsqlVars DIALOG 4, 50, 214, 192
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Variables"
FONT 8, "Helv"
{
 DEFPUSHBUTTON "OK", IDOK, 166, 6, 42, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 166, 24, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Add", IDD_ADDVAR, 166, 42, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Remove", IDD_REMVAR, 166, 60, 42, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 166, 90, 42, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
 LTEXT "&Variables:", -1, 10, 8, 140, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 LISTBOX IDL_VARS, 10, 18, 140, 92, LBS_NOTIFY | LBS_MULTIPLESEL | LBS_USETABSTOPS | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 GROUPBOX "&Selected Variable", IDG_VAR, 10, 118, 140, 68, BS_GROUPBOX | WS_DISABLED
 LTEXT "&Name:", IDS_NAME, 14, 134, 28, 8, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
 EDITTEXT IDE_NAME, 46, 132, 100, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP
 LTEXT "&Type:", IDS_TYPE, 14, 152, 28, 8, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
 COMBOBOX IDC_TYPE, 46, 150, 100, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
 LTEXT "&Object:", IDS_OBJ, 14, 170, 28, 8, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
 COMBOBOX IDC_OBJ, 46, 168, 100, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
}

QsqlOptions DIALOG 14, 50, 204, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Options"
FONT 8, "Helv"
{
 DEFPUSHBUTTON "OK", IDOK, 156, 6, 42, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 156, 24, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 156, 54, 42, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
 GROUPBOX "", -1, 6, 4, 138, 20, BS_GROUPBOX
 LTEXT "&Default Max Rows per Fetch:", -1, 12, 12, 96, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 EDITTEXT IDE_ROWCOUNT, 110, 10, 28, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 GROUPBOX "&Connection Parameters", -1, 6, 28, 138, 46, BS_GROUPBOX
 CONTROL "&Tabs", IDD_TAB, "BUTTON", BS_AUTORADIOBUTTON, 12, 43, 28, 10
 CONTROL "&Commas", IDD_COMMA, "BUTTON", BS_AUTORADIOBUTTON, 12, 57, 38, 10
 GROUPBOX "", -1, 6, 78, 138, 17, BS_GROUPBOX
 CHECKBOX "&OEM Character Sets Database", IDD_OEM, 12, 84, 128, 10, BS_AUTOCHECKBOX | WS_TABSTOP
}

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: ODBC SQL Objects\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "AW32QSQL\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "AW32QSQL.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
