////////////////////////////////////////////////////////////////////////////
//
//  Copyright (c) Unpublished Work of Novell, Inc.  All rights reserved.
//
//  THIS WORK IS AN UNPUBLISHED WORK AND CONTAINS CONFIDENTIAL,
//  PROPRIETARY, AND TRADE SECRET INFORMATION OF NOVELL, INC.
//  ACCESS TO THIS WORK IS RESTRICTED TO (I) NOVELL EMPLOYEES WHO HAVE
//  A NEED TO KNOW TO PERFORM THEIR TASKS WITHIN THE SCOPE OF
//  THEIR ASSIGNMENTS AND (II) ENTITIES OTHER THAN NOVELL WHO HAVE
//  ENTERED INTO APPROPRIATE LICENCE AGREEMENTS.  NO PART OF THIS
//  WORK MAY BE USED, PRACTICED, PERFORMED, COPIED, DISTRIBUTED,
//  REVISED, MODIFIED, TRANSLATED, ABRIDGED, CONDENSED, EXPANDED,
//  COLLECTED, COMPILED, LINKED, RECAST, TRANSFORMED, OR ADAPTED
//  WITHOUT THE PRIOR WRITTEN CONSENT OF NOVELL.  ANY USE OR
//  EXPLOITATION OF THIS WORK WITHOUT AUTHORIZATION COULD SUBJECT
//  THE PERPETRATOR TO CRIMINAL AND CIVIL LIABILITY.
//
//--------------------------------------------------------------------------
//
// FILE:          "sbar_rsc.rc"
//
// AUTHOR:        Kevin J. Smart
//
// DESCRIPTION:   This is resource file for the editing dialog, signal
//                strings, etc..
//
// CHANGES:
//
////////////////////////////////////////////////////////////////////////////

#include <windows.h>
#include <bwcc.h>
#include <ver.h>

#include "sbar_rsc.h"
#include "resstrng.h"

DLG_EDITSCROLLBAR DIALOG 23, 33, 257, 145
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg"
CAPTION "Scroll Bar"
FONT 8, "Helv"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 212, 36, 40, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 212, 54, 40, 14
 CONTROL "&Help", IDHELP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 212, 76, 40, 14
 CONTROL ICON_SCROLLBAR, -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 4, 18, 20
 CONTROL "", ST_OBJECT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 30, 4, 222, 18
 CONTROL "", -1, "BorShade", 2 | WS_CHILD | WS_VISIBLE, -1, 27, 260, 2
 CONTROL " Scroll &Type", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 33, 68, 10
 CONTROL "", -1, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 7, 43, 68, 31
 CONTROL "Hori&zontal", RB_HORIZONTAL, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 47, 59, 10
 CONTROL "&Vertical", RB_VERTICAL, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 60, 59, 10
 CONTROL " Options", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 80, 68, 10
 CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 7, 90, 68, 46
 CONTROL "&Enabled", XB_ENABLED, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 11, 94, 59, 10
 CONTROL "Can &Activate", XB_CANACTIVATE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 108, 59, 10
 CONTROL "&Default Height", XB_DEFAULTSIZE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 122, 59, 10
 CONTROL " Scroll Range", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 83, 33, 54, 10
 CONTROL "", -1, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 83, 43, 54, 55
 CONTROL "Le&ft:", ST_MINIMUM, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 87, 46, 30, 8
 CONTROL "", ED_MINIMUM, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 56, 40, 12
 CONTROL "&Right:", ST_MAXIMUM, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 87, 72, 33, 8
 CONTROL "", ED_MAXIMUM, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 81, 40, 12
 CONTROL " &Position Object", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 83, 106, 116, 10
 CONTROL "", -1, "BorShade", WS_CHILD | WS_VISIBLE, 83, 116, 116, 20
 CONTROL "", CB_POSITIONOBJ, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 87, 120, 108, 51
 CONTROL " Increment", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 145, 33, 54, 10
 CONTROL "", -1, "BorShade", WS_CHILD | WS_VISIBLE, 145, 43, 54, 55
 CONTROL "&Line Scroll:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 150, 46, 39, 8
 CONTROL "", ED_LINESCROLL, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 150, 56, 40, 12
 CONTROL "Pa&ge Scroll:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 150, 72, 42, 8
 CONTROL "", ED_PAGESCROLL, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 150, 81, 40, 12
 CONTROL "", -1, "BorShade", WS_CHILD | WS_VISIBLE, 204, 33, 2, 103
}

ICON_SCROLLBAR ICON   "scrolbar.ico"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION     1, 2, 0, 0
PRODUCTVERSION  1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Scroll Bar Object\0"
      VALUE "FileVersion",      "1.20\0"
      VALUE "InternalName",     "ALM_SBAR\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_SBAR.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",   "1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
 STR_SIGNAL_VLINEUP,            "Scroll Line Up\0"
 STR_SIGNAL_VLINEDOWN,          "Scroll Line Down\0"
 STR_SIGNAL_VPAGEUP,            "Scroll Page Up\0"
 STR_SIGNAL_VPAGEDOWN,          "Scroll Page Down\0"
 STR_SIGNAL_VTOP,               "Scroll Top\0"
 STR_SIGNAL_VBOTTOM,            "Scroll Bottom\0"
 STR_SIGNAL_HLINEUP,            "Scroll Line Left\0"
 STR_SIGNAL_HLINEDOWN,          "Scroll Line Right\0"
 STR_SIGNAL_HPAGEUP,            "Scroll Page Left\0"
 STR_SIGNAL_HPAGEDOWN,          "Scroll Page Right\0"
 STR_SIGNAL_HTOP,               "Scroll Full Left\0"
 STR_SIGNAL_HBOTTOM,            "Scroll Full Right\0"
 STR_SIGNAL_THUMBTRACK,         "Thumb Track\0"
 STR_SIGNAL_THUMBPOSITION,      "Thumb Position\0"
 STR_SIGNAL_ACTIVATED,          "Activated\0"
 STR_SIGNAL_DEACTIVATED,        "Deactivated\0"
 STR_SIGNAL_CHANGED,            "Changed\0"
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
