/*--------------------------------------------------------------------------*\
 | FILE         : DATB.RC                                                   |
 | DESCRIPTION  : Database Object Resource.                                 |
 | COPYRIGHT    : Novell, Inc.                                              |
 | EDIT LOG     :                                                           |
 |   v1.00.00     mw    01-Sep-1993  Initial Edit                           |
\*--------------------------------------------------------------------------*/
#include "datb_rc.h"
#include <ver.h>


Database DIALOG 8, 26, 297, 221
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "Helv"
{
 DEFPUSHBUTTON "OK", IDOK, 250, 37, 40, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 250, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 250, 84, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT "O&bjects in Record:", -1, 10, 38, 64, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 LISTBOX IDL_SELECTED, 10, 49, 60, 78, LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 PUSHBUTTON " << &Add <<", IDD_ADD, 80, 57, 39, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Remove", IDD_REMOVE, 80, 77, 39, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "&Edit", IDD_EDIT, 80, 97, 39, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 LTEXT "A&vailable Objects:", -1, 128, 38, 64, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 LISTBOX IDL_AVAILABLE, 128, 49, 60, 78, LBS_STANDARD | LBS_MULTIPLESEL | LBS_HASSTRINGS | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 CONTROL "&Text", IDD_TEXT, "BUTTON", BS_AUTORADIOBUTTON, 193, 52, 43, 10
 CONTROL "&Number", IDD_NUMBER, "BUTTON", BS_AUTORADIOBUTTON, 193, 65, 43, 10
 CONTROL "&Date", IDD_DATE, "BUTTON", BS_AUTORADIOBUTTON, 193, 78, 43, 10
 CONTROL "Ti&me", IDD_TIME, "BUTTON", BS_AUTORADIOBUTTON, 193, 91, 43, 10
 CONTROL "&Picture", IDD_PICTURE, "BUTTON", BS_AUTORADIOBUTTON, 193, 104, 43, 10
 CONTROL "&Other", IDD_OTHER, "BUTTON", BS_AUTORADIOBUTTON, 193, 117, 43, 10
 GROUPBOX "&Sortable Field", IDG_FIELD, 6, 141, 231, 46, BS_GROUPBOX | WS_DISABLED
 RTEXT "&Field Name:", IDS_FIELDNAME, 11, 155, 40, 10, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
 EDITTEXT IDE_FIELDNAME, 54, 153, 91, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP
 CHECKBOX "&Indexed Field", IDD_INDEXED, 158, 155, 73, 10, BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP
 RTEXT "&Key Type:", IDS_KEYTYPE, 16, 172, 35, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
 COMBOBOX IDC_KEYTYPE, 54, 169, 91, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
 RTEXT "&Characters:", IDS_CHARS, 158, 172, 38, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
 EDITTEXT IDE_CHARS, 200, 170, 31, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP
 GROUPBOX "", -1, 6, 189, 231, 26, BS_GROUPBOX
 LTEXT "File E&xtension:", -1, 12, 200, 51, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 EDITTEXT IDE_EXTENSION, 62, 198, 29, 12, ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 LTEXT "Record ID Ob&ject:", -1, 99, 200, 62, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
 COMBOBOX IDC_RECORDID, 161, 198, 71, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 ICON "database", -1, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
 LTEXT "", IDD_OBJECT, 28, 5, 264, 19
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 0, 29, 297, 1
}
database ICON "database.ico"


PowerSearch DIALOG 17, 25, 271, 127
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Power Search"
FONT 8, "Helv"
{
 DEFPUSHBUTTON "&Find", IDD_FIND, 224, 7, 40, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Append", IDD_APPEND, 224, 26, 40, 14
 PUSHBUTTON "&Intersect", IDD_INTERSECT, 224, 45, 40, 14
 PUSHBUTTON "&Omit", IDD_OMIT, 224, 64, 40, 14
 PUSHBUTTON "&Exit", IDCANCEL, 224, 88, 40, 14
 PUSHBUTTON "&Help", IDHELP, 224, 107, 40, 14, BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
 LTEXT "Inde&xed Fields:", -1, 11, 9, 90, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 LISTBOX IDL_KEYS, 11, 20, 90, 98, LBS_NOTIFY | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 GROUPBOX "Field &Search", -1, 111, 27, 99, 90, BS_GROUPBOX
 CHECKBOX "Si&gnificant", IDD_SIGNIFICANT, 117, 44, 88, 10, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "&Range", IDD_RANGE, 117, 67, 88, 10, BS_AUTOCHECKBOX | WS_TABSTOP
 RTEXT "&Key:", IDS_KEY1, 117, 84, 16, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
 EDITTEXT IDE_KEY1, 136, 82, 67, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 RTEXT "&To:", IDS_KEY2, 117, 101, 16, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
 EDITTEXT IDE_KEY2, 136, 100, 67, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 GROUPBOX "", -1, 111, 3, 100, 18, BS_GROUPBOX
 LTEXT "0 Records Found", IDS_FOUND, 115, 9, 92, 8, WS_CHILD | WS_VISIBLE
}

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 1, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Database Object\0"
      VALUE "FileVersion",	"1.21\0"
      VALUE "InternalName",     "AW32DATB\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "AW32DATB.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  1, "VeRsIoN=1.21\0"
  2, "\0"
  3, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
