#include <windows.h>
#include <ver.h>
#include <bwcc.h>


ARGUMENTS DIALOG 10, 34, 313, 162
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Function Arguments"
FONT 8, "Helv"
BEGIN
	PUSHBUTTON "OK", 1, 263, 13, 39, 14
	PUSHBUTTON "Cancel", 2, 263, 40, 39, 14
	CONTROL "Help", 998, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 263, 75, 39, 14
	CONTROL "&Argument List", 101, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 5, 24, 108, 102
	CONTROL "&Insert", 102, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 117, 51, 40, 14
	CONTROL "&Delete", 104, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 117, 99, 40, 14
	LTEXT "&Parameter type:", -1, 171, 24, 58, 8
	LTEXT "Object &name:", -1, 171, 88, 54, 8
	LTEXT "Object &type:", -1, 171, 63, 57, 8
	CONTROL "123", 109, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 198, 126, 39, 12
	LTEXT "&Value:", -1, 175, 128, 21, 8
	CONTROL "Object &type", 106, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 171, 73, 66, 50
	CONTROL "Object &name", 107, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 171, 98, 66, 46
	CONTROL "&Parameter type", 105, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 171, 35, 66, 50
	CONTROL "&Update", 103, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 117, 75, 40, 14
	LTEXT "&Argument List:", -1, 5, 15, 108, 8
	CONTROL "", 110, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 160, 22, 96, 130
	CONTROL "", 111, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 165, 60, 86, 86
	LTEXT "Maps to...", -1, 166, 51, 83, 8
	LTEXT "Parameter", -1, 160, 14, 96, 8
	CONTROL "&Constant", 108, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 174, 114, 62, 9
	CONTROL "&Referance", 112, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 11, 138, 48, 10
	CONTROL "&Value", 113, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 69, 138, 36, 10
	CONTROL "", 114, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 5, 133, 108, 20
	LTEXT "Pass Argument By:", -1, 5, 125, 108, 8
END


DLL DIALOG 25, 45, 203, 165
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "DLL Object"
FONT 8, "Helv"
BEGIN
	CONTROL "&File name", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 38, 133, 8
	DEFPUSHBUTTON "OK", 1, 154, 35, 38, 14
	PUSHBUTTON "Cancel", 2, 154, 53, 38, 14
	PUSHBUTTON "&Browse...", 105, 154, 71, 38, 14
	CONTROL "Help", 998, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 154, 98, 38, 14
	CONTROL "", 101, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 6, 46, 133, 12
	ICON "DLLIcon", -1, 9, 4, 18, 20
	CONTROL "", 102, "COMBOBOX", CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 39, 82, 87, 80
	CONTROL "&Name:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 17, 83, 20, 9
	CONTROL "&Arguments...", 103, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 76, 133, 55, 14
	CONTROL "&Return Value...", 104, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 13, 133, 55, 14
	CONTROL "", 106, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 6, 73, 133, 83
	LTEXT "Function", -1, 6, 65, 134, 8
	CONTROL "", 107, "BorShade", BSS_HBUMP | WS_CHILD | WS_VISIBLE, 0, 29, 207, 2
	LTEXT "", 150, 32, 4, 164, 20, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Type:", -1, 17, 97, 23, 8
	CONTROL "Pascal", 111, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 72, 111, 36, 10
	CONTROL "C", 110, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 29, 111, 28, 10
	CONTROL "", 112, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 17, 108, 98, 16
END

DLLIcon icon "dll.ico"

RETURNVAL DIALOG 51, 43, 175, 108
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Return Value"
FONT 8, "Helv"
BEGIN
	PUSHBUTTON "OK", 1, 130, 13, 39, 14
	PUSHBUTTON "Cancel", 2, 130, 36, 39, 14
	CONTROL "Help", 998, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 130, 71, 39, 14
	LTEXT "&Parameter type:", -1, 13, 8, 103, 8
	LTEXT "Object &name:", -1, 19, 74, 85, 8
	LTEXT "Object &type:", -1, 19, 49, 85, 8
	CONTROL "Object &type", 102, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 19, 59, 86, 50
	CONTROL "Object &name", 103, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 19, 83, 86, 46
	CONTROL "&Parameter type", 101, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 19, 20, 86, 50
	CONTROL "", 104, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 12, 48, 104, 53
	LTEXT "Maps to...", -1, 12, 40, 104, 8
	CONTROL "", 105, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 13, 17, 103, 19
END

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: DLL Access Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "AW32DLL\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "AW32DLL.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
