#include <windows.h>
#include <ver.h>
#include "t_dialog.h"
#include "t_string.h"

text ICON "text.ico"
TEXT_SETUP_DIALOG DIALOG 64, 37, 295, 344
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "Text Object Setup"
FONT 8, "Helv"
{
 LTEXT " &Value:", ST_LABEL_TEXT, 8, 8, 30, 10
 EDITTEXT ED_TITLE, 8, 19, 221, 52, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 GROUPBOX "Size Options", ST_LABEL_SIZEOPTIONS, 8, 80, 221, 35, BS_GROUPBOX | WS_CHILD | WS_VISIBLE
 LTEXT "&Limit:", ST_LABEL_LIMIT, 18, 93, 20, 12
 EDITTEXT ED_LIMIT, 42, 93, 52, 14, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT "Tab &Width:", ST_LABEL_WIDTH, 124, 93, 39, 12
 EDITTEXT ED_TABSIZE, 167, 93, 52, 14, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
 GROUPBOX "Case", ST_LABEL_CASE, 8, 120, 221, 33, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP
 CONTROL "Mi&xed case", RB_CASEINSENSITIVE, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 18, 133, 69, 12
 CONTROL "&Uppercase", RB_UPPERCASE, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 98, 133, 49, 12
 CONTROL "L&owercase", RB_LOWERCASE, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 169, 133, 49, 12
 GROUPBOX "Type", ST_LABEL_TYPE, 18, 171, 201, 33, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP
 CONTROL "Multili&ne", RB_MULTILINE, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 28, 184, 44, 12
 CONTROL "Sin&gle line", RB_SINGLELINE, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 97, 184, 49, 12
 CONTROL "&Static", RB_STATIC, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 175, 184, 32, 12
 GROUPBOX "Options", ST_LABEL_STYLE, 18, 209, 201, 81, BS_GROUPBOX | WS_GROUP
 CONTROL "Fra&me and Background", CB_FRAME, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 28, 222, 87, 12
 CONTROL "&Editable", CB_EDITABLE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 28, 234, 43, 12
 CONTROL "&Horizontal scrollbar", CB_HORZSCROLL, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 128, 222, 75, 12
 CONTROL "&Vertical scrollbar", CB_VERTSCROLL, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 128, 234, 68, 12
 CHECKBOX "&Select all when activated", CB_SELECTALL, 28, 246, 97, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Alwa&ys show selection", CB_KEEPSELECTION, 28, 258, 90, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CONTROL "&Uses Enter at runtime", CB_USESENTER, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 128, 246, 84, 12
 CONTROL "Uses Ta&b at runtime", CB_USESTAB, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 128, 258, 80, 12
 CONTROL "&Password", CB_PASSWORD, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 28, 270, 47, 12
 GROUPBOX "Align", ST_JUSTIFICATION, 19, 295, 201, 33, BS_GROUPBOX | WS_GROUP
 CONTROL "Le&ft", RB_LEFT, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 28, 308, 26, 12
 CONTROL "&Center", RB_CENTER, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 100, 308, 35, 12
 CONTROL "&Right", RB_RIGHT, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 178, 308, 30, 12
 PUSHBUTTON "OK", PB_OK, 237, 8, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", PB_CANCEL, 237, 26, 50, 14
 PUSHBUTTON "&Font...", PB_FONTS, 237, 44, 50, 14
 PUSHBUTTON "&Help...", PB_HELP, 237, 62, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE
 CONTROL "Text", 1003, "AWResizer", 0 | WS_CHILD | WS_VISIBLE, 253, 243, 20, 20
 GROUPBOX "Line Attributes", ST_LABEL_LINE, 8, 158, 221, 178, BS_GROUPBOX
}

AWResizeTop RCDATA 
{
CB_HORZSCROLL
CB_VERTSCROLL
ED_LIMIT
CB_EDITABLE
CB_FRAME
CB_USESENTER
CB_USESTAB
RB_LEFT
RB_CENTER
RB_RIGHT
RB_CASEINSENSITIVE
RB_UPPERCASE
RB_LOWERCASE
ED_TABSIZE
CB_SELECTALL
RB_MULTILINE
RB_SINGLELINE
RB_STATIC
CB_PASSWORD
ST_JUSTIFICATION
STR_FRAME
STR_FRAMEANDBACK
CB_KEEPSELECTION
ST_LABEL_LIMIT
ST_LABEL_WIDTH
ST_LABEL_SIZEOPTIONS
ST_LABEL_CASE
ST_LABEL_TYPE
ST_LABEL_STYLE
ST_LABEL_LINE
0
}

AWResizeBottom RCDATA 
{
CB_HORZSCROLL
CB_VERTSCROLL
ED_LIMIT
CB_EDITABLE
CB_FRAME
CB_USESENTER
CB_USESTAB
RB_LEFT
RB_CENTER
RB_RIGHT
RB_CASEINSENSITIVE
RB_UPPERCASE
RB_LOWERCASE
ED_TABSIZE
CB_SELECTALL
RB_MULTILINE
RB_SINGLELINE
RB_STATIC
CB_PASSWORD
ST_JUSTIFICATION
STR_FRAME
STR_FRAMEANDBACK
CB_KEEPSELECTION
ST_LABEL_LIMIT
ST_LABEL_WIDTH
ST_LABEL_SIZEOPTIONS
ST_LABEL_CASE
ST_LABEL_TYPE
ST_LABEL_STYLE
ST_LABEL_LINE
ED_TITLE
0
}

AWResizeLeft RCDATA
BEGIN
PB_OK               PB_CANCEL           PB_HELP							PB_FONTS		 
0
END


AWResizeRight RCDATA
BEGIN
PB_OK               PB_CANCEL           PB_HELP							PB_FONTS		
ED_TITLE
ST_OBJECTNAME
ST_LABEL_TEXT
0
END



STRINGTABLE 
{
 0, "Text Object"
 ERR_NULL_TXT, "NULL txt pointer in %s"
 ERR_NULL_TR, "NULL tr pointer in %s"
 ERR_NULL_HTI, "NULL hti pointer in %s"
 ERR_NULL_STRING, "NULL text string in %s"
 ERR_INVALIDWINDOW, "Invalid window handle in %s"
 ERR_WRONG_TYPEID, "Incorrect Object Type in %s"
 ERR_GET_PARAMETER_FAILED, "Unable to get parameter #%d in %s"
 ERR_CREATING_PSUEDO_OBJECT, "Unable to create pseudo object %s"
 ERR_BAD_API_PARAMETER, "Bad API parameter in %s"
 STR_FRAME, "&Border"
 STR_FRAMEANDBACK, "&Border and Background"
}

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 1, 0, 0
PRODUCTVERSION	1, 1, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Text Object\0"
      VALUE "FileVersion",	"1.10\0"
      VALUE "InternalName",     "AW32TEXT\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1994.\0"
      VALUE "OriginalFilename", "AW32TEXT.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.10\0"
      VALUE "ProductVersion",	"1.10\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.10\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1994.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////


