#include <windows.h>
//#include <bwcc.h>
#include <ver.h>
#include "b_dialog.h"

BUTTON_SETUP_DIALOG DIALOG 40, 22, 234, 221
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Button Setup"
FONT 8, "Helv"
{
 PUSHBUTTON "OK", PB_OK, 176, 8, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", PB_CANCEL, 176, 26, 50, 14
 PUSHBUTTON "&Font...", PB_FONTS, 176, 44, 50, 14
 PUSHBUTTON "&Bitmap...", PB_LOAD, 176, 62, 50, 14
 PUSHBUTTON "&Help...", PB_HELP, 176, 80, 50, 14
 LTEXT "Accelerator:", ST_ACCEL, 8, 28, 41, 10, WS_CHILD | WS_VISIBLE
 EDITTEXT ED_TITLE, 53, 26, 115, 12, ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 LTEXT "Title:", ST_TITLE, 8, 10, 17, 10, SS_LEFTNOWORDWRAP | WS_GROUP
 EDITTEXT ED_ACCEL, 29, 8, 139, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 CONTROL "&Push button", RB_PUSHBUTTON, BUTTON, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 18, 58, 63, 10
 CONTROL "Chec&k box", RB_CHECKBOX, BUTTON, BS_AUTORADIOBUTTON, 18, 78, 63, 10
 CONTROL "&Radio button", RB_RADIOBUTTON, BUTTON, BS_AUTORADIOBUTTON, 18, 98, 63, 10
 CONTROL "Tr&ansparent button", RB_INVISIBLE, BUTTON, BS_AUTORADIOBUTTON, 18, 118, 74, 10
 CONTROL "Bit&map button", RB_BITMAP, BUTTON, BS_AUTORADIOBUTTON, 18, 137, 63, 10
 CHECKBOX "&Enabled", CB_ENABLED, 118, 56, 46, 10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CONTROL "&Selected", CB_SELECTED, BUTTON, 3 | WS_CHILD | WS_VISIBLE, 118, 68, 40, 10
 CONTROL "&Inverts", CB_INVERTS, BUTTON, 3 | WS_CHILD | WS_VISIBLE, 118, 80, 46, 10
 CONTROL "&Normal", RB_NORMAL, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 118, 116, 46, 10
 CONTROL "&Default", RB_DEFAULT, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 118, 128, 46, 10
 CONTROL "&Cancel", RB_CANCEL, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 118, 140, 46, 10
 LTEXT " Test Button (Press for Beep)", ST_SAMPLE, 8, 163, 140, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
 CONTROL "Text", OD_SAMPLE, "BUTTON", BS_OWNERDRAW | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 8, 174, 103, 39
 GROUPBOX "Type", IDC_GROUPBOX1, 8, 43, 94, 115, BS_GROUPBOX
 GROUPBOX "Options", IDC_GROUPBOX2, 108, 43, 60, 55, BS_GROUPBOX
 GROUPBOX "State", IDC_GROUPBOX3, 108, 103, 60, 55, BS_GROUPBOX
}

BIT_BUTTON_DIALOG DIALOG 33, 29, 256, 182
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "Bitmap Button"
FONT 8, "Helv"
{
 PUSHBUTTON "OK", PB_OK, 198, 8, 50, 14, WS_GROUP | WS_TABSTOP
 CONTROL "", OD_SAMPLE, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 8, 8, 182, 75
 PUSHBUTTON "Pas&te", PB_PASTE, 8, 88, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Load...", PB_LOAD, 74, 88, 50, 14
 PUSHBUTTON "&Delete", PB_DELETE, 140, 88, 50, 14
 CONTROL "&Normal", RB_NORMAL, BUTTON, 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 18, 120, 46, 10
 CONTROL "&Focused", RB_FOCUSED, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 18, 132, 40, 10
 CONTROL "&Pressed", RB_PRESSED, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 18, 144, 46, 10
 CONTROL "&Grayed", RB_GRAYED, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 18, 156, 46, 10
 CONTROL "&Size to fit", RB_STRETCH, BUTTON, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 128, 123, 56, 10
 CONTROL "&Crop", RB_CROP, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 128, 139, 56, 10
 CONTROL "P&roportional", RB_ORGPROP, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 128, 155, 51, 10
 CONTROL "", ST_NORMAL, "STATIC", SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 65, 120, 35, 10
 CONTROL "", ST_FOCUSED, "STATIC", SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 65, 132, 35, 10
 CONTROL "", ST_PRESSED, "STATIC", SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 65, 144, 35, 10
 CONTROL "", ST_GRAYED, "STATIC", SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 65, 156, 35, 10
 CONTROL "Text", 116, "AWResizer", 0 | WS_CHILD | WS_VISIBLE, 213, 129, 20, 20
 GROUPBOX "State", IDC_GROUPBOX4, 8, 107, 102, 67, BS_GROUPBOX
 GROUPBOX "Display Mode", IDC_GROUPBOX5, 118, 107, 72, 67, BS_GROUPBOX
 PUSHBUTTON "Cancel", IDC_PUSHBUTTON1, 198, 26, 50, 14
}

AWResizeLeft RCDATA
BEGIN
PB_OK			ST_VERTLINE
0
END

AWResizeRight RCDATA
BEGIN
PB_OK				ST_VERTLINE
OD_SAMPLE		ST_LABEL_BITMAP
0
END

AWResizeTop RCDATA
BEGIN
PB_PASTE					PB_LOAD							PB_DELETE				ST_LABEL_BUTTONSTATE
RB_NORMAL					RB_FOCUSED					RB_PRESSED			RB_GRAYED
ST_LABEL_DISPLAY	RB_STRETCH					RB_CROP					RB_ORGPROP
ST_NORMAL					ST_FOCUSED					ST_PRESSED			ST_GRAYED
0
END

AWResizeBottom RCDATA
BEGIN
PB_PASTE					PB_LOAD							PB_DELETE				ST_LABEL_BUTTONSTATE
RB_NORMAL					RB_FOCUSED					RB_PRESSED			RB_GRAYED
ST_LABEL_DISPLAY	RB_STRETCH					RB_CROP					RB_ORGPROP
ST_NORMAL					ST_FOCUSED					ST_PRESSED			ST_GRAYED
ST_VERTLINE
OD_SAMPLE		ST_LABEL_BITMAP
0
END


ButtonIcon ICON "button.ico"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Button Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "AW32BUTN\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "AW32BUTN.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
	2, "NULL pointer in %s line #%d"
	3, "Invalide window handle in %s line #%d"
	4, "Incorrect typeid in %s line #%d"
	5, "Unable to get function parameter in %s line #%d"
	6, "Unable to create psuedo object in %s line #%d"  
	
	1001, "VeRsIoN=1.20\0"
  1002, "\0"
  1003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
