////////////////////////////////////////////////////////////////////////////
//
//  Copyright (c) Unpublished Work of Novell, Inc.  All rights reserved.
//
//  THIS WORK IS AN UNPUBLISHED WORK AND CONTAINS CONFIDENTIAL,
//  PROPRIETARY, AND TRADE SECRET INFORMATION OF NOVELL, INC.
//  ACCESS TO THIS WORK IS RESTRICTED TO (I) NOVELL, INC. EMPLOYEES
//  WHO HAVE A NEED TO KNOW HOW TO PERFORM THEIR TASKS WITHIN THE SCOPE
//  OF THEIR ASSIGNMENTS AND (II) ENTITIES OTHER THAN NOVELL, INC. WHO
//  HAVE ENTERED INTO APPROPRIATE LICENSE AGREEMENTS.  NO PART OF THIS
//  WORK MAY BE USED, PRACTICED, PERFORMED, COPIED, DISTRIBUTED,
//  REVISED, MODIFIED, TRANSLATED, ABRIDGED, CONDENSED, EXPANDED,
//  COLLECTED, COMPILED, LINKED, RECAST, TRANSFORMED, OR ADAPTED
//  WITHOUT THE PRIOR WRITTEN CONSENT OF NOVELL, INC.  ANY USE OR
//  EXPLOITATION OF THIS WORK WITHOUT AUTHORIZATION COULD SUBJECT
//  THE PERPETRATOR TO CRIMINAL AND CIVIL LIABILITY.
//
//--------------------------------------------------------------------------
//
// FILE:  "tabl_rsc.rc"
//
// AUTHOR:
//
// DESCRIPTION:
//
// CHANGES:
//
//////////////////////////////////////////////////////////////////////////////

#include <windows.h>
#include <bwcc.h>
#include <ver.H>
#include "tabl_rsc.h"

TABLEICON ICON "table.ico"

TABLEDIALOG DIALOG 23, 16, 297, 247
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "New Table"
FONT 8, "Helv"
BEGIN
  CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 250, 37, 40, 14
  PUSHBUTTON "Cancel", IDCANCEL, 250, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Option&s...", IDD_OPTIONS, 250, 75, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help", IDHELP, 250, 101, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  CONTROL " << A&dd <<", IDD_ADD, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 79, 57, 40, 14
  PUSHBUTTON "&Remove", IDD_REMOVE, 79, 77, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Edit", IDD_EDIT, 79, 97, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  CONTROL "", -1, "BorShade", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 36, 69, 98
  LTEXT "Colu&mns in Table:", -1, 10, 38, 63, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", IDD_COLUMNS, "LISTBOX", LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 10, 49, 60, 78
  CONTROL "", -1, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 124, 36, 113, 98
  LTEXT "&Available Objects:", -1, 128, 38, 70, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", IDD_AVAILOBJS, "LISTBOX", LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 128, 49, 60, 78
  CONTROL "A&ll", IDD_ALL, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 193, 51, 36, 10
  CONTROL "&Text", IDD_TEXT, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 64, 36, 10
  CONTROL "&Number", IDD_NUMBER, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 77, 36, 10
  CONTROL "Date", IDD_DATE, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 90, 36, 10
  CONTROL "Time", IDD_TIME, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 103, 36, 10
  CONTROL "Fields", IDD_SOURCEFIELDS, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 116, 36, 10
  LTEXT " Selected Column Attributes", IDD_SELCOLUMNATTRIB, 6, 140, 284, 10
  LTEXT " Default Column Attributes", IDD_DEFCOLUMNATTRIB, 6, 140, 284, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", 202, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 6, 151, 284, 90
  LTEXT "Column Tit&le:", IDD_STATICTITLE, 12, 155, 105, 10
  CONTROL "", IDD_TITLE, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 12, 165, 108, 12
  LTEXT "Title Ali&gnment", IDD_TITLEALIGNMENT, 12, 180, 91, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", 203, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 12, 190, 108, 16
  CONTROL "Left", IDD_TITLELEFT, "BorRadio", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 16, 193, 25, 10
  CONTROL "Center", IDD_TITLECENTER, "BorRadio", 9 | WS_CHILD | WS_VISIBLE, 47, 193, 34, 10
  CONTROL "Right", IDD_TITLERIGHT, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 85, 193, 34, 10
  LTEXT "Cell Alignment", IDD_ALIGNMENT, 12, 209, 91, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", 203, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 12, 219, 108, 16
  CONTROL "Left", IDD_LEFT, "BorRadio", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 16, 222, 27, 10
  CONTROL "Center", IDD_CENTER, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 47, 222, 34, 10
  CONTROL "Right", IDD_RIGHT, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 85, 222, 30, 10
  CONTROL "Options", -1, "STATIC", SS_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 126, 155, 42, 10
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 126, 165, 63, 70
  CONTROL "Edita&ble", IDD_EDITABLE, "BorCheck", BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 136, 172, 46, 10
  CONTROL "Title F&ont...", IDD_TITLEFONT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 132, 190, 50, 14
  PUSHBUTTON "Cell &Font...", IDD_CELLFONT, 132, 214, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  LTEXT "&Width", IDD_WIDTH, 196, 155, 42, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 196, 165, 88, 70
  CONTROL "&Pixels:", IDD_RBPIXELS, "BorRadio", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 202, 173, 48, 10
  CONTROL "&Characters:", IDD_RBCHARACTERS, "BorRadio", 9 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202, 195, 48, 10
  CONTROL "&Inches:", IDD_RBINCHES, "BorRadio", 9 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202, 217, 48, 10
  CONTROL "", IDD_PIXELS, "EDIT", ES_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 253, 172, 25, 12
  CONTROL "", IDD_CHARACTERS, "EDIT", ES_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 253, 194, 25, 12
  CONTROL "", IDD_INCHES, "EDIT", ES_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 253, 216, 25, 12
  ICON TABLEICON, -1, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
  LTEXT "", IDD_OBJECT, 28, 5, 264, 19, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", -1, "BorShade", BSS_HDIP | WS_CHILD | WS_VISIBLE, 0, 29, 297, 2
  CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 243, 36, 2, 98
END


TABLEATTRIBUTES DIALOG 30, 30, 258, 216
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Table Attributes"
FONT 8, "Helv"
BEGIN
  CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 212, 36, 40, 14
  PUSHBUTTON "Cancel", IDCANCEL, 212, 55, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help", IDHELP, 212, 79, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  LTEXT " Auto Table Options", -1, 6, 36, 87, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "&Auto-Fill Rows", IDD_AUTOFILL, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 11, 49, 59, 10
  CONTROL "# Rows &Buffered:", IDD_NUMBUFFEREDSTATIC, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 75, 58, 8
  EDITTEXT IDD_NUMBUFFERED, 70, 74, 19, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
  LTEXT "&Data Source Object:", IDD_DATASOURCESTATIC, 11, 87, 72, 8
  CONTROL "", IDD_DATASOURCE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 11, 97, 78, 54
  LTEXT "Inde&xed Field Object:", IDD_INDEXEDFIELDSTATIC, 11, 112, 72, 8
  CONTROL "", IDD_INDEXEDFIELD, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 11, 122, 78, 54
  LTEXT "Row &Index Object:", IDD_ROWINDEXSTATIC, 11, 137, 72, 8
  CONTROL "", IDD_ROWINDEX, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 11, 147, 78, 54
  CONTROL " Visual Options", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 100, 36, 97, 10
  CONTROL "Hori&zontal Scroll", IDD_HSCROLL, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 102, 49, 87, 10
  CONTROL "&Vertical Scroll", IDD_VSCROLL, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 102, 63, 87, 10
  CONTROL "&Row Lines", IDD_ROWLINES, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 102, 77, 87, 10
  CONTROL "Column &Lines", IDD_COLUMNLINES, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 102, 91, 87, 10
  CONTROL "Show Column &Titles", IDD_SHOWTITLES, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 102, 105, 87, 10
  CONTROL "R&esizable Columns", IDD_CANRESIZE, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 102, 119, 87, 10
  CONTROL "Sho&w Column Selection", IDD_SHOWCOLSEL, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 102, 133, 87, 10
  CONTROL "&Show Selected Cell", IDD_SHOWCELLSEL, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 102, 147, 87, 10
  LTEXT " Functional Options", -1, 6, 167, 191, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "&Can Activate", IDD_CANACTIVATE, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 11, 182, 87, 10
  CONTROL "&Multiple Selections", IDD_MULTISELECT, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 182, 87, 10
  CONTROL "Clairvo&yant Selections", IDD_CLAIRVOYANTSEL, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 195, 87, 10
  LTEXT "&Fix First", IDD_FIXFIRSTSTATIC, 11, 196, 27, 8
  EDITTEXT IDD_FIXFIRST, 39, 194, 16, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
  LTEXT "Columns.", IDD_COLUMNSTATIC, 57, 196, 30, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "", IDD_OBJECT, 28, 5, 225, 19, WS_CHILD | WS_VISIBLE | WS_GROUP
  ICON TABLEICON, -1, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
  CONTROL "", 201, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 0, 29, 259, 2
  CONTROL "", 202, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 100, 46, 98, 118
  CONTROL "", 202, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 6, 46, 88, 118
  CONTROL "", 203, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 6, 177, 192, 33
  CONTROL "", 204, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 204, 36, 3, 175
  CONTROL "A&uto Column", IDD_ADHOC, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 11, 62, 59, 10
END

RESIZECURSOR CURSOR "resize.cur"

BORDERBITMAP BITMAP  "border.bmp"



1 VERSIONINFO LOADONCALL MOVEABLE
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Table Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "ALM_TABL\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_TABL.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END
