#include <windows.h>
#include <bwcc.h>

#include "moviedlg.h"
#include "movie.ver"

MovieDialog DIALOG 66, 32, 276, 158
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg"
CAPTION "Movie"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON "OK", IDOK, 91, 139, 43, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 142, 139, 43, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "Help", IDHELP, "BUTTON", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 159, 139, 43, 14
	PUSHBUTTON "Set &Movie...", PB_SETMOVIE, 10, 35, 81, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	PUSHBUTTON "&Clear Movie", PB_CLEARMOVIE, 10, 55, 81, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", 107, "BorShade", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 75, 81, 12
	CONTROL "Controller visible", CB_SHOWCONTROLLER, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 14, 76, 74, 10
	CONTROL "", 106, "BorShade", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 93, 81, 42
	CONTROL "&Editable", CB_EDITABLE, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 14, 99, 50, 10
	CONTROL "Show &Logo", CB_SHOWLOGO, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 110, 50, 10
	CONTROL "&Auto Stop", CB_AUTOSTOP, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 121, 50, 10
	LTEXT " Display:", -1, 103, 35, 77, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 108, "BorShade", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 103, 43, 77, 50
	CONTROL "Ce&ntered", RB_CENTERED, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 108, 46, 45, 10
	CONTROL "Si&zed", RB_SIZED, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 108, 57, 45, 10
	CONTROL "&Scaled", RB_SCALED, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 108, 68, 45, 10
	CONTROL "Cro&pped", RB_CROPPED, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 108, 79, 45, 10
	CONTROL "", 104, "BorShade", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 103, 93, 77, 42
	CONTROL "Show &Border", CB_BORDER, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 108, 98, 55, 10
	CONTROL "Show Bad&ge", CB_BADGE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 109, 55, 10
	CONTROL "Show Ac&t. Border", CB_ACTBORDER, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 120, 68, 10
	CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE | WS_GROUP, 189, 35, 80, 100
	CONTROL "Text", ST_MOVIERECT, "STATIC", SS_WHITERECT | WS_CHILD | WS_VISIBLE | WS_GROUP, 189, 35, 80, 100
	CONTROL "MovieIcon", MovieIconID, "static", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 4, 18, 16
	LTEXT "", ST_OBJECTNAME, 28, 4, 241, 20, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 113, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 0, 29, 276, 2
END


MovieIcon ICON "movie.ico"

QTLOGO BITMAP "qtlogo.bmp"
BADGE BITMAP "badge.bmp"
BORDERID BITMAP "borderid.bmp"

#include "qtw.err"