/*                                                                        *\
    (c) 1993, Novell, Inc.  All rights reserved.

    THIS  WORK  IS  AN  UNPUBLISHED  WORK  AND  CONTAINS   CONFIDENTIAL,
    PROPRIETARY, AND TRADE SECRET INFORMATION OF NOVELL, INC.  ACCESS TO
    THIS WORK IS RESTRICTED TO (I) NOVELL EMPLOYEES WHO HAVE A  NEED  TO
    KNOW TO PERFORM THEIR TASKS WITHIN THE SCOPE  OF  THEIR  ASSIGNMENTS
    AND  (II)  ENTITIES  OTHER  THAN  NOVELL  WHO  HAVE   ENTERED   INTO
    APPROPRIATE LICENCE AGREEMENTS.  NO PART OF THIS WORK MAY  BE  USED,
    PRACTICED,  PERFORMED,  COPIED,  DISTRIBUTED,   REVISED,   MODIFIED,
    TRANSLATED,  ABRIDGED,  CONDENSED,  EXPANDED,  COLLECTED,  COMPILED,
    LINKED, RECAST, TRANSFORMED, OR ADAPTED WITHOUT  THE  PRIOR  WRITTEN
    CONSENT OF NOVELL.  ANY USE OR EXPLOITATION  OF  THIS  WORK  WITHOUT
    AUTHORIZATION COULD SUBJECT THE PERPETRATOR TO  CRIMINAL  AND  CIVIL
    LIABILITY.
\*                                                                        */

/*------------------------------------------------------------------------*\
 | FILE		: SQLD.RC                                                 |
 | DESCRIPTION	: SequeLink SQL Object Resource.                          |
 | COPYRIGHT	: Novell, Inc.                                            |
 | EDIT LOG	:                                                         |
 |   v1.00.00     mw    04-Mar-1994  Initial Edit.                        |
\*------------------------------------------------------------------------*/
#include "ver.h"
#include "sqld_rc.h"


Sqld DIALOG 96, 52, 242, 105
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "Helv"
{
 ICON "sqld", -1, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
 LTEXT "", IDD_OBJECT, 30, 5, 206, 16, WS_CHILD | WS_VISIBLE | WS_GROUP
 DEFPUSHBUTTON "OK", IDOK, 194, 37, 42, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 194, 55, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 194, 83, 42, 14, NOT WS_VISIBLE | WS_TABSTOP
 GROUPBOX "", -1, 6, 37, 176, 28, BS_GROUPBOX
 LTEXT "Connection &Setting:", -1, 10, 48, 66, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
 COMBOBOX IDC_CONNSET, 78, 47, 100, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "&Connection...", IDD_CONNSET, 10, 83, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Variables...", IDD_VARS, 70, 83, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Options...", IDD_OPTIONS, 130, 83, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 0, 29, 242, 1
}
sqld    ICON "sqld.ico"

SqldConnSets DIALOG 0, 0, 250, 196
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Connection Preferences"
FONT 8, "helv"
{
 PUSHBUTTON "OK", IDOK, 202, 6, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 202, 24, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&New", IDD_ADD, 202, 42, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Delete", IDD_DEL, 202, 60, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 202, 90, 42, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
 GROUPBOX "&Connection Settings", -1, 6, 6, 186, 184, BS_GROUPBOX
 LTEXT "Connection &Title:", -1, 12, 25, 68, 10
 COMBOBOX IDC_CONNSET, 80, 24, 106, 48, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
 GROUPBOX "Net&work Settings", -1, 12, 44, 174, 64, BS_GROUPBOX
 LTEXT "Host &Server:", -1, 18, 59, 62, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
 COMBOBOX IDC_SERVER, 80, 58, 100, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT "Network &Protocol:", -1, 18, 75, 62, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
 COMBOBOX IDC_PROTOCOL, 80, 74, 100, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT "&Link Parameters:", -1, 18, 91, 62, 10
 EDITTEXT IDE_LINKPARAM, 80, 90, 100, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 GROUPBOX "L&ogon Settings", -1, 12, 118, 174, 64, BS_GROUPBOX
 LTEXT "Host D&atabase:", -1, 18, 133, 62, 10
 COMBOBOX IDC_DATABASE, 80, 132, 100, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT "Database Na&me:", -1, 18, 149, 62, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
 EDITTEXT IDE_DBNAME, 80, 148, 100, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 LTEXT "&User ID/Password:", -1, 18, 165, 62, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
 EDITTEXT IDE_USERID, 80, 164, 100, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
}

SqldVars DIALOG 12, 48, 214, 231
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Variables"
FONT 8, "Helv"
{
 DEFPUSHBUTTON "OK", IDOK, 166, 6, 42, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 166, 24, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 GROUPBOX "&Selected Variable", IDG_VAR, 6, 117, 148, 107, BS_GROUPBOX | WS_DISABLED
 LISTBOX IDL_VARS, 10, 20, 140, 96, LBS_NOTIFY | LBS_MULTIPLESEL | LBS_USETABSTOPS | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "&Add", IDD_ADDVAR, 166, 42, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Remove", IDD_REMVAR, 166, 60, 42, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 166, 90, 42, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
 GROUPBOX "&Variables", -1, 6, 6, 148, 108, BS_GROUPBOX
 LTEXT "&Name:", IDS_NAME, 12, 134, 28, 8, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
 EDITTEXT IDE_NAME, 44, 132, 104, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP
 LTEXT "&Type:", IDS_TYPE, 12, 152, 28, 8, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
 COMBOBOX IDC_TYPE, 44, 150, 56, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
 LTEXT "&Size:", IDS_SIZE, 106, 152, 20, 8, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
 EDITTEXT IDE_SIZE, 126, 150, 22, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP
 GROUPBOX "&Object Link", IDG_OBJLINK, 12, 170, 136, 48, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
 LTEXT "T&ype:", IDS_OBJTYPE, 16, 186, 28, 8, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
 COMBOBOX IDC_OBJTYPE, 44, 184, 100, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
 LTEXT "O&bject:", IDS_OBJ, 16, 204, 28, 8, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
 COMBOBOX IDC_OBJ, 44, 202, 100, 48, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
}

SqldOptions DIALOG 0, 0, 200, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Options"
FONT 8, "Helv"
{
 DEFPUSHBUTTON "OK", IDOK, 152, 6, 42, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 152, 24, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 152, 54, 42, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
 GROUPBOX "", -1, 6, 6, 138, 24, BS_GROUPBOX
 LTEXT "&Default Max Rows per Fetch:", -1, 12, 16, 100, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 EDITTEXT IDE_ROWCOUNT, 118, 14, 20, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 GROUPBOX "Column &Separators for ""Fetch To Text""", -1, 6, 36, 138, 44, BS_GROUPBOX
 CONTROL "&Tabs", IDD_TAB, "BUTTON", BS_AUTORADIOBUTTON, 12, 50, 128, 10
 CONTROL "&Commas", IDD_COMMA, "BUTTON", BS_AUTORADIOBUTTON, 12, 64, 128, 10
 GROUPBOX "Commit and Rollback &Options", -1, 6, 86, 138, 58, BS_GROUPBOX
 CONTROL "&Manual", IDD_MANUAL, "BUTTON", BS_AUTORADIOBUTTON, 12, 100, 128, 10
 CONTROL "Automatic &Rollback", IDD_ROLLBACK, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 114, 128, 10
 CONTROL "&Automatic Commit", IDD_COMMIT, "BUTTON", BS_AUTORADIOBUTTON, 12, 128, 128, 10
}

SqldSubstr DIALOG 90, 64, 150, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Substring"
FONT 8, "helv"
{
 DEFPUSHBUTTON "OK", IDOK, 54, 44, 42, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 LTEXT "", IDS_SUBSTR, 6, 8, 138, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
 EDITTEXT IDE_SUBSTR, 6, 18, 138, 12, ES_LEFT | ES_AUTOHSCROLL | ES_PASSWORD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
}

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: SequeLink SQL Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "AW32QSQL\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "AW32OSQL.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
