/*---------------------------
   Browser.RC resource script
  ---------------------------*/

#include "browser.h"
#include <bwcc.h>
#include <windows.h>
#include <ver.h>

Browser DIALOG 19, 46, 176, 108
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Browser"
FONT 8, "Helv"
BEGIN
  CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 128, 37, 40, 14
  PUSHBUTTON "Cancel", IDCANCEL, 128, 57, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help", IDHELP, 128, 87, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  LTEXT " &Database Object", -1, 7, 37, 105, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", IDC_DATABASE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 11, 50, 97, 66
  LTEXT " &Indexed Field Object", IDS_FIELD, 7, 72, 105, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", IDC_FIELD, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 11, 85, 97, 66
  ICON "browser", -1, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
  LTEXT "", IDD_OBJECT, 28, 5, 142, 19, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", -1, "BorShade", BSS_HDIP | WS_CHILD | WS_VISIBLE, 0, 29, 176, 2
  CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 119, 37, 2, 65
  CONTROL "", 104, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 7, 46, 105, 20
  CONTROL "", 104, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 7, 81, 105, 20
END

Browser BITMAP "browser.bmp"

Browser ICON "browser.ico"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Browser Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "ALM_BRWS\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_BRWS.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  1, "VeRsIoN=1.20\0"
  2, "\0"
  3, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
