
GROUPNAME DIALOG 145, 97, 171, 58
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Group Name"
BEGIN
	CONTROL "", 1000, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 3, 20, 166, 12
	PUSHBUTTON "Cancel", IDCANCEL, 94, 39, 45, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "OK", IDOK, 32, 39, 45, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Enter the new name for the group:", -1, 3, 5, 162, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END

