#include "prefdlg.h"
PREFDIALOG DIALOG 59, 18, 194, 187
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Startup Preferences"
BEGIN
	CONTROL "Auto Save", PREF_AUTOSAVE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 26, 72, 12
	CONTROL "Confirm Auto Save", PREF_CONFIRMSAVE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 38, 72, 12
	CONTROL "Show Navigator", PREF_SHOWNAVIGATOR, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 62, 65, 12
	CONTROL "Grid On", PREF_SJTGRIDON, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 105, 36, 12
	EDITTEXT PREF_SJTHORIZONGRID, 97, 100, 21, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	EDITTEXT PREF_SJTVERTGRID, 97, 113, 21, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "Large Object Icons", PREF_SJTLARGEICONS, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 139, 74, 9
	CONTROL "Show Function Names", PREF_SJTFUNCNAMES, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 149, 82, 8
	CONTROL "Show Signal Names", PREF_SJTSIGNALNAMES, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 159, 84, 9
	CONTROL "Buffered Redraw", PREF_BUFFEREDREDRAW, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 169, 84, 9
	CONTROL "Grid On", PREF_PRJGRIDON, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 30, 53, 12
	EDITTEXT PREF_PRJHORIZONGRID, 150, 44, 21, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	EDITTEXT PREF_PRJVERTGRID, 150, 59, 21, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	DEFPUSHBUTTON "OK", PREF_OK, 142, 87, 43, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", PREF_CANCEL, 142, 107, 43, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "Workshop Preferences:", 101, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 5, 88, 76
	CONTROL "Save Options", 104, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 11, 17, 80, 34
	CONTROL "Window Options", 105, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 11, 51, 80, 26
	CONTROL "Subject Preferences:", 107, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 83, 121, 100
	CONTROL "Subject Grid", 108, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 11, 93, 110, 34
	LTEXT "Horizontal:", -1, 55, 103, 36, 8, WS_CHILD | WS_VISIBLE
	LTEXT "Vertical:", -1, 65, 116, 26, 8, WS_CHILD | WS_VISIBLE
	CONTROL "Display Options", 112, "button", BS_GROUPBOX | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 11, 128, 109, 52
	CONTROL "Project Preferences:", 117, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 102, 5, 83, 76
	CONTROL "Project Grid", 118, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 107, 19, 73, 58
	LTEXT "Horizontal:", -1, 110, 48, 37, 8, WS_CHILD | WS_VISIBLE
	LTEXT "Vertical:", -1, 119, 63, 28, 8, WS_CHILD | WS_VISIBLE
END
