#include "resconst.h"
FINDDIALOG DIALOG 130, 46, 172, 138
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find"
BEGIN
	CONTROL "", SRCH_SEARCHTEXT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 5, 14, 163, 12
	CONTROL "Object Names", 1000, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 8, 39, 56, 14
	CONTROL "Object Types", 1002, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 8, 51, 56, 14
	CONTROL "Groups", 1004, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 8, 63, 56, 14
	CONTROL "Parameters", 1006, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 8, 75, 56, 14
	CONTROL "Functions", 1008, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 8, 87, 56, 14
	CONTROL "Comments", 1010, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 8, 99, 56, 14
	CONTROL "", 2000, "COMBOBOX", CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 87, 40, 81, 79
	CONTROL "Case Sensitive", 3000, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 91, 75, 76, 14
	CONTROL "Whole Word Match", 3002, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 91, 87, 76, 14
	CONTROL "Display Found List", 3004, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 91, 99, 76, 14
	CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 5, 121, 37, 14
	CONTROL "Close", 4000, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 47, 121, 37, 14
	CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 89, 121, 37, 14
	CONTROL "Help", 4002, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 131, 121, 37, 14
	CONTROL "Find What", 102, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 29, 77, 85
	CONTROL "Search Options", 110, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 87, 63, 81, 51
	LTEXT "", SRCH_KINDTEXT, 45, 2, 122, 10, WS_CHILD | WS_VISIBLE
	LTEXT "Search For:", -1, 5, 3, 42, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Range:", -1, 87, 30, 54, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END
