#include "resconst.h"
NAMESEARCH DIALOG 75, 52, 173, 83
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Search"
BEGIN
	CONTROL "", SRCH_SEARCHTEXT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 51, 17, 117, 12
	CONTROL "Object Types", SRCH_TYPE, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 11, 45, 56, 10
	CONTROL "Object Names", SRCH_OBJECT, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 56, 56, 9
	CONTROL "Functions", SRCH_FUNCTION, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 67, 43, 10
	CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 120, 46, 47, 14
	CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 120, 66, 47, 14
	LTEXT "Search for", -1, 7, 4, 34, 9, WS_CHILD | WS_VISIBLE
	LTEXT "", SRCH_KINDTEXT, 46, 4, 122, 10, WS_CHILD | WS_VISIBLE
	LTEXT "With Name:", -1, 7, 19, 43, 8, WS_CHILD | WS_VISIBLE
	CONTROL "Find", 102, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 35, 67, 45
END
