
PARAMDLG DIALOG 60, 58, 176, 56
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Parameter Information"
BEGIN
	LTEXT "Parameter Name:", -1, 6, 4, 122, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT PAR_EDIT, 6, 19, 157, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
	DEFPUSHBUTTON "OK", ID_OK, 23, 38, 47, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", ID_CANCEL, 101, 38, 47, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

