PARAMCONSTDLG DIALOG 71, 71, 174, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Constant Information"
BEGIN
	EDITTEXT PAR_EDIT, 5, 29, 164, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
	DEFPUSHBUTTON "OK", ID_OK, 21, 48, 51, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", ID_CANCEL, 101, 48, 51, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Enter constant value for the parameter:", -1, 5, 5, 128, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "Text", PAR_PARMNAME, "STATIC", SS_CENTER | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 5, 16, 165, 10
END
