#include "com_dlg.h"
#include "bwcc.h"
#include "ver.h"

Terminal DIALOG 12, 60, 295, 172
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Terminal Emulation"
FONT 8, "Helv"
BEGIN
  LTEXT "Emulation:", -1, 15, 22, 37, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "TTY", idEmulation, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 62, 21, 123, 36
  DEFPUSHBUTTON "OK", IDOK, 241, 19, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  DEFPUSHBUTTON "Cancel", IDCANCEL, 242, 40, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Font...", idFont, 242, 79, 39, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  LTEXT "Buffer Lines:", -1, 122, 147, 42, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "123", idBufferSize, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 166, 146, 18, 12
  LTEXT "Translations:", -1, 89, 127, 45, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", idTranslate, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 136, 126, 78, 63
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 16, 207, 21
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 11, 122, 72, 18
  LTEXT "Columns:", -1, 11, 114, 72, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "80", idColumn80, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 16, 126, 24, 10
  CONTROL "132", idColumn132, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 45, 126, 32, 10
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 12, 68, 63, 40
  LTEXT "Terminal Mode", -1, 12, 60, 63, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "Line Wrap", idLineWrap, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 75, 51, 10
  CONTROL "Local Echo", idLocalEcho, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 89, 54, 10
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 87, 68, 48, 40
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 145, 68, 54, 40
  LTEXT "Cursor Shape", -1, 87, 60, 54, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "CR/LF", -1, 146, 60, 36, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "Block", idBlock, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 90, 75, 32, 10
  CONTROL "Underline", idUnderline, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 90, 89, 42, 10
  CONTROL "Inbound", idInbound, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 151, 75, 39, 10
  CONTROL "Outbound", idOutbound, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 151, 88, 42, 10
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 5, 55, 216, 111
  CONTROL "Show Scroll Bar", idVertBar, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 149, 72, 10
  LTEXT "Terminal Preference", -1, 5, 46, 216, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Terminal Type", -1, 6, 8, 207, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 232, 9, 1, 156
END
terminal ICON "terminal.ico"
tml_dialog DIALOG 18, 18, 200, 138
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Terminal"
FONT 8, "Helv"
BEGIN
	LTEXT "", IDD_OBJECT, 33, 6, 136, 17, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", idConnection, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 49, 74, 47
	PUSHBUTTON "OK", IDOK, 146, 38, 47, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 146, 58, 47, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Help", IDHELP, 146, 110, 47, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Configure...", idConfigure, 146, 77, 47, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Connection:", -1, 5, 50, 38, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "terminal", -1, "static", SS_ICON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 4, 18, 20
	CONTROL "", 201, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 86, 78, 48
	CONTROL "", 102, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 0, 28, 198, 2
	CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 138, 37, 2, 91
	CONTROL "Cache Text", 200, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 87, 49, 10
END
//  CONTROL "", 1137, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 110, 138, 92, 68
//  CONTROL "OK", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 208, 32, 50, 14
FONT_DIALOG DIALOG 18, 61, 285, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Font"
FONT 8, "Helv"
BEGIN
	LTEXT "&Font:", 1088, 12, 10, 94, 9
	CONTROL "", 1136, "COMBOBOX", CBS_SIMPLE | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 12, 20, 94, 54
	LTEXT "Font St&yle:", 1089, 114, 10, 64, 9
	CONTROL "", 1137, "COMBOBOX", CBS_SIMPLE | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 114, 20, 64, 54
	LTEXT "&Size:", 1090, 185, 10, 32, 9
	CONTROL "", 1138, "COMBOBOX", CBS_SIMPLE | CBS_OWNERDRAWFIXED | CBS_SORT | CBS_HASSTRINGS | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 185, 20, 32, 54
	CONTROL "OK", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 238, 14, 40, 14
	CONTROL "Cancel", 2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 238, 31, 40, 14
	CONTROL "&Apply", 1026, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 238, 48, 40, 14
	CONTROL "&Help", 1038, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP | WS_TABSTOP, 238, 65, 40, 14
	LTEXT "Sample", -1, 6, 85, 217, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 1073, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 93, 218, 33
	CONTROL "", 1092, "STATIC", SS_CENTER | SS_NOPREFIX | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 10, 99, 209, 21
	CONTROL "AaBbYyZz", IDD_SAMPLETEXT, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 96, 213, 28
	CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 6, 217, 71
	CONTROL "", 1002, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 230, 3, 2, 126
END

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Terminal Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "AW32TMNL\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "AW32TMNL.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
