#define IDD_OBJECT      201

#include "windows.h"
#include "bwcc.h"
#include "ver.h"

#include "pg_dialg.h"

PAGEDIALOG DIALOG 44, 18, 318, 231
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Page Layout"
FONT 8, "Helv"
BEGIN
	CONTROL "OK", 1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 276, 34, 40, 14
	PUSHBUTTON "Cancel", 2, 276, 55, 40, 14
	CONTROL "&Help", IDHELP, "BUTTON", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 276, 87, 40, 14
	CONTROL "Sna&p to 1/2 Inch Offsets", 106, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 119, 199, 96, 10
	CONTROL "&Remove", 103, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 129, 152, 37, 15
	PUSHBUTTON "&Edit", 102, 174, 152, 37, 15
	PUSHBUTTON "<<A&dd<<", 101, 218, 152, 37, 15
	LTEXT "&Selected Windows:", -1, 120, 38, 64, 8
	CONTROL "", 105, "LISTBOX", LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 120, 49, 70, 83
	LTEXT "&Available Windows:", -1, 195, 38, 66, 8
	CONTROL "", 104, "LISTBOX", LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 195, 49, 70, 83
	LTEXT "Page Grid:", 108, 5, 36, 99, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	ICON "PAGEICON", -1, 11, 3, 18, 20, WS_CHILD | WS_VISIBLE
	LTEXT "", IDD_OBJECT, 34, 4, 278, 21, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 107, "BorShade", 2 | WS_CHILD | WS_VISIBLE, -1, 28, 319, 1
	CONTROL "", 109, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 115, 196, 105, 17
	CONTROL "", 110, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 115, 35, 155, 103
	CONTROL "", 111, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 2, 35, 105, 10
END

PAGEICON ICON "pagelayo.ico"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Page Layout Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "ALM_PAGE\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_PAGE.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////

VERSIONINFO_1 VERSIONINFO 
BEGIN
END

