/*                                                                        *\
    (c) 1993, Novell, Inc.  All rights reserved.

    THIS  WORK  IS  AN  UNPUBLISHED  WORK  AND  CONTAINS   CONFIDENTIAL,
    PROPRIETARY, AND TRADE SECRET INFORMATION OF NOVELL, INC.  ACCESS TO
    THIS WORK IS RESTRICTED TO (I) NOVELL EMPLOYEES WHO HAVE A  NEED  TO
    KNOW TO PERFORM THEIR TASKS WITHIN THE SCOPE  OF  THEIR  ASSIGNMENTS
    AND  (II)  ENTITIES  OTHER  THAN  NOVELL  WHO  HAVE   ENTERED   INTO
    APPROPRIATE LICENCE AGREEMENTS.  NO PART OF THIS WORK MAY  BE  USED,
    PRACTICED,  PERFORMED,  COPIED,  DISTRIBUTED,   REVISED,   MODIFIED,
    TRANSLATED,  ABRIDGED,  CONDENSED,  EXPANDED,  COLLECTED,  COMPILED,
    LINKED, RECAST, TRANSFORMED, OR ADAPTED WITHOUT  THE  PRIOR  WRITTEN
    CONSENT OF NOVELL.  ANY USE OR EXPLOITATION  OF  THIS  WORK  WITHOUT
    AUTHORIZATION COULD SUBJECT THE PERPETRATOR TO  CRIMINAL  AND  CIVIL
    LIABILITY.
\*                                                                        */

/*------------------------------------------------------------------------*\
 | FILE         : QSQL.RC                                                 |
 | DESCRIPTION  : Q+E SQL Objects Resource File.                          |
 | COPYRIGHT    : Novell, Inc.                                            |
 | EDIT LOG     :                                                         |
 |   v1.00.00     mw    01-Nov-1993  Initial Edit                         |
\*------------------------------------------------------------------------*/
#include <ver.h>
#include "qsql_rc.h"


Qcnc DIALOG 50, 50, 236, 136
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
FONT 8, "Helv"
BEGIN
  ICON "qcnc", -1, 6, 4, 18, 20, WS_CHILD | WS_VISIBLE
  LTEXT "", IDD_OBJECT, 30, 6, 200, 16, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 190, 36, 40, 14
  PUSHBUTTON "Cancel", IDCANCEL, 190, 54, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help", IDHELP, 190, 84, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  LTEXT "&Connection Parameters", -1, 6, 36, 172, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "&Username:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 54, 60, 10
  CONTROL "", IDC_USERNAME, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 52, 100, 48
  CONTROL "&Password:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 72, 60, 10
  CONTROL "", IDC_PASSWORD, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 70, 100, 48
  CONTROL "&Other Parameters:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 90, 60, 10
  CONTROL "", IDC_PARAMS, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 88, 100, 48
  CONTROL "&Auto Commit", IDD_AUTOCOMMIT, "BorCheck", BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 116, 52, 10
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 0, 28, 236, 1
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 184, 36, 1, 94
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 46, 172, 60
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 112, 62, 18
END
qcnc  ICON "qcnc.ico"

Qsql DIALOG 50, 10, 234, 104
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
FONT 8, "Helv"
BEGIN
  ICON "qsql", -1, 6, 4, 18, 20, WS_CHILD | WS_VISIBLE
  LTEXT "", IDD_OBJECT, 30, 6, 198, 16, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 186, 36, 42, 14
  PUSHBUTTON "Cancel", IDCANCEL, 186, 54, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help", IDHELP, 186, 84, 42, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  LTEXT "&Connection Via:", -1, 12, 44, 52, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", IDC_CONNOBJ, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 68, 42, 100, 48
  LTEXT "&SQL Statement:", -1, 12, 62, 52, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", IDC_SQLOBJ, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 68, 60, 100, 48
  PUSHBUTTON "&Variables...", IDD_VARS, 20, 84, 54, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Options...", IDD_OPTIONS, 102, 84, 54, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 0, 28, 234, 1
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 180, 36, 1, 62
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 36, 168, 42
END
qsql  ICON "qsql.ico"

QsqlVars DIALOG 4, 50, 214, 192
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Variables"
FONT 8, "Helv"
BEGIN
  CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 166, 6, 42, 14
  PUSHBUTTON "Cancel", IDCANCEL, 166, 24, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Add", IDD_ADDVAR, 166, 42, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  CONTROL "&Remove", IDD_REMVAR, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 166, 60, 42, 14
  PUSHBUTTON "&Help", IDHELP, 166, 90, 42, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  LTEXT "&Variables:", -1, 10, 8, 32, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", IDL_VARS, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_USETABSTOPS | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 10, 18, 140, 92
  CONTROL "&Selected Variable", IDG_VAR, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 6, 116, 148, 10
  CONTROL "&Name:", IDS_NAME, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 12, 134, 25, 8
  CONTROL "", IDE_NAME, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 46, 132, 100, 12
  CONTROL "&Type:", IDS_TYPE, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 12, 152, 18, 8
  CONTROL "", IDC_TYPE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_TABSTOP, 46, 150, 100, 48
  CONTROL "&Object:", IDS_OBJ, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 12, 170, 24, 8
  CONTROL "", IDC_OBJ, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_TABSTOP, 46, 168, 100, 48
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 160, 6, 1, 180
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 126, 148, 60
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 6, 148, 104
END

QsqlOptions DIALOG 14, 50, 204, 108
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Options"
FONT 8, "Helv"
BEGIN
  CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 156, 6, 42, 14
  PUSHBUTTON "Cancel", IDCANCEL, 156, 24, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help", IDHELP, 156, 54, 42, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  LTEXT "&Default Max Rows per Fetch:", -1, 12, 12, 96, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  EDITTEXT IDE_ROWCOUNT, 110, 10, 28, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
  LTEXT "Column &Separators for ""Fetch To Text""", -1, 6, 32, 138, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "&Tabs", IDD_TAB, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 48, 28, 10
  CONTROL "&Commas", IDD_COMMA, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 62, 38, 10
  CONTROL "&OEM Character Sets Database", IDD_OEM, "BorCheck", BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 88, 110, 10
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 150, 6, 1, 96
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 6, 138, 20
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 42, 138, 36
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 84, 138, 18
END

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: ODBC SQL Objects\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "ALM_QSQL\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_QSQL.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
