#include <windows.h>
#include <bwcc.h>
#include <ver.h>
#include "b_dialog.h"

BUTTON_SETUP_DIALOG DIALOG 40, 22, 218, 217
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Button Setup"
FONT 8, "Helv"
BEGIN
	CONTROL "ButtonIcon", -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 4, 18, 20
	CONTROL "OK", PB_OK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 161, 36, 50, 14
	PUSHBUTTON "Cancel", PB_CANCEL, 161, 56, 50, 14
	PUSHBUTTON "&Attributes...", PB_FONTS, 161, 81, 50, 14
	PUSHBUTTON "&Bitmap...", PB_LOAD, 161, 101, 50, 14
	CONTROL "&Help...", PB_HELP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 161, 127, 50, 14
	CONTROL "Accelerator:", ST_ACCEL, "STATIC", WS_CHILD | WS_VISIBLE, 12, 42, 42, 10
	EDITTEXT ED_TITLE, 56, 40, 86, 12, ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "Button &Title:", ST_TITLE, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 42, 42, 10
	EDITTEXT ED_ACCEL, 56, 40, 86, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	LTEXT " Button T&ype", GB_TYPE, 7, 62, 76, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "&Push Button", RB_PUSHBUTTON, "BorRadio", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 13, 78, 63, 10
	CONTROL "Chec&k Box", RB_CHECKBOX, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 91, 63, 10
	CONTROL "&Radio Button", RB_RADIOBUTTON, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 104, 63, 10
	CONTROL "In&visible Button", RB_INVISIBLE, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 117, 63, 10
	CONTROL "Bit&map Button", RB_BITMAP, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 130, 63, 10
	LTEXT " Button Sty&le", GB_STYLE, 89, 62, 58, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "&Enable", CB_ENABLED, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 95, 78, 46, 10
	CONTROL "&Selected", CB_SELECTED, "BorCheck", 3 | WS_CHILD | WS_VISIBLE, 95, 91, 46, 10
	CONTROL "&Inverts", CB_INVERTS, "BorCheck", 3 | WS_CHILD | WS_VISIBLE, 95, 91, 46, 10
	CONTROL "&Normal", RB_NORMAL, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 95, 104, 46, 10
	CONTROL "&Default", RB_DEFAULT, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 95, 117, 46, 10
	CONTROL "&Cancel", RB_CANCEL, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 95, 130, 46, 10
	LTEXT " Test Button (Press for Beep)", ST_SAMPLE, 7, 152, 140, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "Text", OD_SAMPLE, "BUTTON", BS_OWNERDRAW | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 25, 166, 103, 39
	CONTROL "", ST_OBJECTNAME, "STATIC", WS_CHILD | WS_VISIBLE, 28, 5, 182, 19
	CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 7, 36, 140, 20
	CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 7, 72, 77, 74
	CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 89, 72, 58, 74
	CONTROL "", -1, "BorShade", BSS_HDIP | WS_CHILD | WS_VISIBLE, 0, 29, 218, 2
	CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 7, 161, 141, 49
	CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 153, 35, 2, 176
END

BIT_BUTTON_DIALOG DIALOG 33, 29, 270, 192
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CLASS "bordlg"
CAPTION "Bitmap Button"
FONT 8, "Helv"
BEGIN
	CONTROL "Done", PB_OK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 221, 8, 40, 14
	CONTROL "", ST_VERTLINE, "BorShade", 5 | WS_CHILD | WS_VISIBLE | WS_GROUP, 212, 9, 2, 180
	CONTROL "Bitmap", ST_LABEL_BITMAP, "BorShade", 32769 | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 6, 199, 91
	CONTROL "", OD_SAMPLE, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 10, 18, 192, 75
	CONTROL "Pas&te Bitmap", PB_PASTE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 7, 103, 59, 14
	PUSHBUTTON "&Load Bitmap...", PB_LOAD, 77, 103, 59, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Delete Bitmap", PB_DELETE, 147, 103, 59, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "&Button State", ST_LABEL_BUTTONSTATE, "BorShade", 32769 | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 125, 100, 62
	CONTROL "&Normal", RB_NORMAL, "BorRadio", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 13, 137, 46, 10
	CONTROL "&Focused", RB_FOCUSED, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 148, 46, 10
	CONTROL "&Pressed", RB_PRESSED, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 159, 46, 10
	CONTROL "&Grayed", RB_GRAYED, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 170, 46, 10
	CONTROL "Bitmap D&isplay", ST_LABEL_DISPLAY, "BorShade", 32769 | WS_CHILD | WS_VISIBLE | WS_GROUP, 124, 125, 80, 62
	CONTROL "&Size to Fit", RB_STRETCH, "BorRadio", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 131, 140, 56, 10
	CONTROL "&Crop", RB_CROP, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 131, 153, 56, 10
	CONTROL "P&roportional", RB_ORGPROP, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 131, 166, 56, 10
	CONTROL "", ST_NORMAL, "STATIC", SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 63, 137, 35, 10
	CONTROL "", ST_FOCUSED, "STATIC", SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 63, 148, 35, 10
	CONTROL "", ST_PRESSED, "STATIC", SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 63, 159, 35, 10
	CONTROL "", ST_GRAYED, "STATIC", SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 63, 170, 35, 10
	CONTROL "Text", 116, "AWResizer", 0 | WS_CHILD | WS_VISIBLE, 234, 150, 20, 20
END

AWResizeLeft RCDATA
BEGIN
PB_OK			ST_VERTLINE
0
END

AWResizeRight RCDATA
BEGIN
PB_OK				ST_VERTLINE
OD_SAMPLE		ST_LABEL_BITMAP
0
END

AWResizeTop RCDATA
BEGIN
PB_PASTE					PB_LOAD							PB_DELETE				ST_LABEL_BUTTONSTATE
RB_NORMAL					RB_FOCUSED					RB_PRESSED			RB_GRAYED
ST_LABEL_DISPLAY	RB_STRETCH					RB_CROP					RB_ORGPROP
ST_NORMAL					ST_FOCUSED					ST_PRESSED			ST_GRAYED
0
END

AWResizeBottom RCDATA
BEGIN
PB_PASTE					PB_LOAD							PB_DELETE				ST_LABEL_BUTTONSTATE
RB_NORMAL					RB_FOCUSED					RB_PRESSED			RB_GRAYED
ST_LABEL_DISPLAY	RB_STRETCH					RB_CROP					RB_ORGPROP
ST_NORMAL					ST_FOCUSED					ST_PRESSED			ST_GRAYED
ST_VERTLINE
OD_SAMPLE		ST_LABEL_BITMAP
0
END


ButtonIcon ICON "button.ico"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Button Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "ALM_BUTN\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_BUTN.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
	2, "NULL pointer in %s line #%d"
	3, "Invalide window handle in %s line #%d"
	4, "Incorrect typeid in %s line #%d"
	5, "Unable to get function parameter in %s line #%d"
	6, "Unable to create psuedo object in %s line #%d"  
	
	1001, "VeRsIoN=1.20\0"
  1002, "\0"
  1003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
