#include <windows.h>
#include <ver.h>
#include <bwcc.h>

#define IDC_RADIOBUTTON1	106
#define IDC_RADIOBUTTON2	108
#define IDC_CHECKBOX1	103
ARGUMENTS DIALOG 11, 36, 275, 219
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Basic Script"
FONT 8, "Helv"
{
 PUSHBUTTON "OK", 1, 207, 63, 39, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "Help", 998, 207, 108, 39, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 CONTROL "&Argument List", 101, "LISTBOX", LBS_NOTIFY | WS_BORDER | LBS_MULTIPLESEL | LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_EXTENDEDSEL | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 5, 74, 186, 94
 PUSHBUTTON "&Insert", 102, 46, 172, 40, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "&Delete", 104, 97, 172, 40, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 LTEXT "&Parameter List:", -1, 5, 65, 108, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 PUSHBUTTON "Open Script...", 112, 204, 137, 48, 14
 ICON "BasIcon", -1, 15, 7, 18, 20, WS_CHILD | WS_VISIBLE
 CONTROL "", 107, "BorShade", BSS_HBUMP | BSS_LEFT | WS_CHILD | WS_VISIBLE, -1, 33, 265, 2
 LTEXT "Basic Script", 150, 38, 7, 209, 20, WS_CHILD | WS_VISIBLE | WS_GROUP
 PUSHBUTTON "Cancel", 2, 207, 81, 39, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "Error Log...", 113, 204, 164, 50, 14
 CONTROL "Enable Debugger", 103, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 195, 72, 12
 CONTROL "Global Environment", 105, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 195, 78, 12
 CONTROL "Function", 108, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 43, 60, 12
 CONTROL "Structure", 106, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 43, 44, 12
 CONTROL "Variable(s)", 109, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 43, 55, 12
}



// ScriptIcon icon "scrp.ico"

RETURNVAL DIALOG 51, 43, 175, 146
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Parameter Setting"
FONT 8, "Helv"
{
 PUSHBUTTON "OK", 1, 130, 13, 39, 14
 PUSHBUTTON "Cancel", 2, 130, 36, 39, 14
 PUSHBUTTON "Help", 998, 130, 71, 39, 14, BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
 LTEXT "&Parameter type:", -1, 13, 8, 103, 8
 LTEXT "Object &name:", -1, 19, 74, 85, 8
 LTEXT "Object &type:", -1, 19, 49, 85, 8
 CONTROL "Object &type", 102, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 19, 59, 86, 50
 CONTROL "Object &name", 103, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 19, 83, 86, 46
 CONTROL "&Parameter type", 101, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 19, 20, 86, 50
 CONTROL "", 104, "BorShade", BSS_GROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 12, 48, 105, 91
 LTEXT "Maps to...", -1, 12, 40, 104, 8
 CONTROL "", 105, "BorShade", BSS_GROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 13, 17, 103, 19
 CONTROL "123", 109, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 45, 116, 39, 12
 LTEXT "&Value:", -1, 22, 118, 21, 8
 CONTROL "&Constant", 108, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 19, 104, 62, 9
}

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO 
FILEVERSION 1, 0, 0, 1
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK 0
FILEOS VOS__WINDOWS16
FILETYPE VFT_DLL
FILESUBTYPE 0
BEGIN
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END

	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "Novell, Inc.\0"
			VALUE "FileDescription", "AppWare Loadable Module: Script Access Object\0"
			VALUE "FileVersion", "1.00\0"
			VALUE "InternalName", "ALM_BAS\0"
			VALUE "LegalCopyright", "Copyright © Novell, Inc. 1993-1994.\0"
			VALUE "OriginalFilename", "ALM_BAS.DLL\0"
			VALUE "ProductName", "Visual AppBuilder Version 1.0\0"
			VALUE "ProductVersion", "1.00\0"
			VALUE "LegalTrademarks", "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
		END

	END

END

STRINGTABLE 
BEGIN
	10001, "VeRsIoN=1.00\0"
	10002, "\0"
	10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1994.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////

BasIcon ICON "scrp.ico"

ERRORLOG DIALOG 6, 15, 228, 155
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Compiler Error Log"
FONT 8, "Helv"
{
 DEFPUSHBUTTON "OK", IDOK, 51, 132, 50, 14
 PUSHBUTTON "Help", IDHELP, 123, 132, 50, 14
 LTEXT "Number", -1, 5, 6, 27, 8
 LTEXT "Severity", -1, 33, 6, 28, 8
 LTEXT "Line", -1, 62, 6, 16, 8
 LTEXT "Description", -1, 81, 6, 60, 8
 LISTBOX 101, 4, 17, 215, 107, LBS_NOTIFY | WS_BORDER | LBS_MULTIPLESEL | LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_EXTENDEDSEL | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
}
