////////////////////////////////////////////////////////////////////////////
//
//  Copyright 1993, Novell, Inc.  All rights reserved
//
//  THIS WORK IS AN UNPUBLISHED WORK AND CONTAINS CONFIDENTIAL,
//  PROPRIETARY, AND TRADE SECRET INFORMATION OF NOVELL, INC.
//  ACCESS TO THIS WORK IS RESTRICTED TO (I) NOVELL EMPLOYEES WHO HAVE
//  A NEED TO KNOW TO PERFORM THEIR TASKS WITHIN THE SCOPE OF
//  THEIR ASSIGNMENTS AND (II) ENTITIES OTHER THAN NOVELL WHO HAVE
//  ENTERED INTO APPROPRIATE LICENSE AGREEMENTS.  NO PART OF THIS
//  WORK MAY BE USED, PRACTICED, PERFORMED, COPIED, DISTRIBUTED,
//  REVISED, MODIFIED, TRANSLATED, ABRIDGED, CONDENSED, EXPANDED,
//  COLLECTED, COMPILED, LINKED, RECAST, TRANSFORMED, OR ADAPTED
//  WITHOUT THE PRIOR WRITTEN CONSENT OF NOVELL.  ANY USE OR
//  EXPLOITATION OF THIS WORK WITHOUT AUTHORIZATION COULD SUBJECT
//  THE PERPETRATOR TO CRIMINAL AND CIVIL LIABILITY.
//
//--------------------------------------------------------------------------
//
// FILE:            DDECLIEN.RC
//
// AUTHOR:          Shaili Jain
//
// DESCRIPTION:     DDEC RESOURCE file
//
// CHANGES:
//
////////////////////////////////////////////////////////////////////////////

#include <windows.h>
#include <bwcc.h>
#include <ver.h>

#include "resource.h"

STRINGTABLE 
BEGIN
  IDS_ILLFNM, "Invalid servername: '%s'"
  IDS_ADDEXT, ".TXT"
  IDS_HELPNOTAVAIL, "Can't load Windows Help application"
  IDS_CLIENTTITLE, " - "
  IDS_APPNAME, "DDEML Client"
  IDS_DDEMLERR, "DDEML - %s"
  IDS_BADLENGTH, "Invalid length value string.  Reenter or cancel."
  IDS_TRANSERR,  "Cannot Start Transaction with %s:%s:%s \r\nERROR:%s"
  IDS_TRANSNERR,  "Successful Transaction with %s:%s:%s."
  IDS_CONVERR,   "Cannot Start Conv with %s:%s."
  IDS_CONVNERR,  "Can Establish Conversation with %s(service) & %s(topic)"
END



DDECLIENT DIALOG 25, 22, 304, 168
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "DDE Client"
FONT 8, "Helv"
BEGIN
  CONTROL "", IDSERVER, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 45, 87, 12
  PUSHBUTTON "&Browse...", IDBROWSE, 9, 64, 40, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Run", IDEXECUTE, 53, 64, 40, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  CONTROL "", IDSERVICE, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 118, 87, 53
  CONTROL "", IDTOPIC, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 142, 87, 53
  CONTROL " ", IDFORMAT, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 109, 45, 87, 53
  CONTROL "", IDITEM, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 109, 93, 88, 53
  CONTROL "", IDOBJTYPE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 109, 118, 87, 53
  CONTROL "", IDOBJECT, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 109, 144, 87, 53
  CONTROL "&Auto", IDAUTOLINK, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 211, 41, 27, 12
  CONTROL "&Notify", IDNOTIFYLINK, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 211, 58, 32, 11
  CONTROL "&Manual", IDMANUALLINK, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 211, 75, 34, 11
  PUSHBUTTON "OK", IDOK, 258, 32, 40, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Cancel", IDCANCEL, 258, 51, 40, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Paste Link", IDPASTELINK, 257, 83, 40, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Op&tions", IDOPTIONS, 257, 123, 40, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help", IDHELP, 257, 143, 40, 16, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  CONTROL "Link Type", 110, "borshade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 209, 32, 40, 60
  LTEXT "Service:", -1, 8, 106, 34, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Topic:", -1, 8, 132, 32, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Item:", -1, 108, 83, 36, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Object Type:", -1, 108, 109, 47, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "Server data Identifiers", 107, "borshade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 4, 93, 96, 65
  LTEXT "Connect To:", -1, 108, 135, 41, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "Command Line (Server):", 113, "borshade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 4, 32, 96, 54
  CONTROL "Item Parameters (opt)", 114, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 105, 72, 99, 90
  ICON "DDECICON", -1, 11, 3, 18, 20, WS_CHILD | WS_VISIBLE
  LTEXT "", IDTITLE, 36, 4, 263, 17, WS_CHILD | WS_VISIBLE | WS_GROUP
  PUSHBUTTON "&DDE Test", IDDDETEST, 257, 103, 40, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, -1, 25, 305, 2
  CONTROL "Data Format:", 119, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 105, 32, 98, 29
END



OPTIONS DIALOG 51, 59, 266, 121
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Conversation Options"
FONT 8, "Helv"
BEGIN
  CONTROL "&country", IDEF_COUNTRY, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 46, 43, 82, 46
  CONTROL "code&Page", IDEF_CODEPAGE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 61, 81, 46
  CONTROL "&language", IDEF_LANG, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 80, 81, 46
  CONTROL "", IDEF_SECURITY, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 47, 97, 30, 12
  EDITTEXT IDTIMEOUT, 139, 41, 41, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
  EDITTEXT IDADVDELAY, 139, 68, 41, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
  CONTROL "Ack. Requested", IDACK, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 87, 69, 12
  CONTROL "Use Default Context", IDDEFAULT, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 102, 76, 13
  PUSHBUTTON "OK", IDOK, 220, 38, 40, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Cancel", IDCANCEL, 220, 58, 40, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  LTEXT "Country:", -1, 8, 44, 37, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "CodePage:", -1, 7, 64, 39, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Language:", -1, 7, 83, 34, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Security:", -1, 7, 99, 32, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "Conversation Context", 131, "borshade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 4, 31, 127, 85
  ICON "DDECICON", -1, 6, 3, 18, 20, WS_CHILD | WS_VISIBLE
  LTEXT "", IDTITLE, 29, 2, 232, 22, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Timeout:", -1, 139, 32, 41, 7, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Advise Data Delay:", -1, 139, 57, 64, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "msecs", -1, 181, 41, 27, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "msecs", -1, 181, 70, 27, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", 132, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 1, 23, 267, 4
  CONTROL "", 136, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 136, 31, 81, 52
  CONTROL "", 137, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 136, 86, 81, 32
END

DDECICON ICON "ddec.ico"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: DDE Client Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "AW32DDEC\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "AW32DDEC.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
