////////////////////////////////////////////////////////////////////////////
//
//  Copyright (c) Unpublished Work of Novell, Inc.  All rights reserved.
//
//  THIS WORK IS AN UNPUBLISHED WORK AND CONTAINS CONFIDENTIAL,
//  PROPRIETARY, AND TRADE SECRET INFORMATION OF NOVELL, INC.
//  ACCESS TO THIS WORK IS RESTRICTED TO (I) NOVELL EMPLOYEES WHO HAVE
//  A NEED TO KNOW TO PERFORM THEIR TASKS WITHIN THE SCOPE OF
//  THEIR ASSIGNMENTS AND (II) ENTITIES OTHER THAN NOVELL WHO HAVE
//  ENTERED INTO APPROPRIATE LICENCE AGREEMENTS.  NO PART OF THIS
//  WORK MAY BE USED, PRACTICED, PERFORMED, COPIED, DISTRIBUTED,
//  REVISED, MODIFIED, TRANSLATED, ABRIDGED, CONDENSED, EXPANDED,
//  COLLECTED, COMPILED, LINKED, RECAST, TRANSFORMED, OR ADAPTED
//  WITHOUT THE PRIOR WRITTEN CONSENT OF NOVELL.  ANY USE OR
//  EXPLOITATION OF THIS WORK WITHOUT AUTHORIZATION COULD SUBJECT
//  THE PERPETRATOR TO CRIMINAL AND CIVIL LIABILITY.
//
//--------------------------------------------------------------------------
//
// FILE:          "layout.rc"
//
// AUTHOR:        Kevin J. Smart
//
// DESCRIPTION:   WINDOW LAYOUT RESOURCE FILE
//
// CHANGES:
//
////////////////////////////////////////////////////////////////////////////

#define RCINVOKED

#include <windows.h>
#include <bwcc.h>
#include <ver.h>

#include "wlay_rsc.h"

// accelerators for the window layout //////////////////////////////////////

rcinclude                     rc\lay_accl.acl

// bitmaps for the window layout ///////////////////////////////////////////

// Alignment tool bitmaps
ALIGNLEFT          BITMAP  rc/algnleft.bmp
ALIGNRIGHT         BITMAP  rc/algnrght.bmp
ALIGNTOP           BITMAP  rc/algntop.bmp
ALIGNBOTTOM        BITMAP  rc/algnbot.bmp
CENTERHORZ         BITMAP  rc/ctrhorz.bmp
CENTERVERT         BITMAP  rc/ctrvert.bmp
CENTERGROUPHORZ   	BITMAP  rc/ctrwhorz.bmp
CENTERGROUPVERT	BITMAP  rc/ctrwvert.bmp
GROWWIDE           BITMAP  rc/growhorz.bmp
GROWTALL           BITMAP  rc/growvert.bmp
SHRINKTHIN         BITMAP  rc/shrkhorz.bmp
SHRINKSHORT        BITMAP  rc/shrkvert.bmp
SPACEVERT          BITMAP  rc/spacvert.bmp
SPACEHORZ          BITMAP  rc/spachorz.bmp
//ALIGNTOOL_GRID                BITMAP  rc/grid.bmp
//ALIGNTOOL_MOVESIZE            BITMAP  rc/movesize.bmp
                                    
// standard tool bitmaps            
STDTOOL_ANCHOR                BITMAP  rc/anchor.bmp
STDTOOL_ARROW                 BITMAP  rc/arrow.bmp
STDTOOL_BACKGROUND            BITMAP  rc/windowbg.bmp
STDTOOL_GROUPSTOP             BITMAP  rc/groupsto.bmp
STDTOOL_LOCK                  BITMAP  rc/lock.bmp
STDTOOL_REORDER               BITMAP  rc/reorder.bmp
STDTOOL_SELECTALL             BITMAP  rc/selectal.bmp
STDTOOL_TABSTOP               BITMAP  rc/taborder.bmp
STDTOOL_VISIBILITY            BITMAP  rc/visible.bmp
                                    
// misc. bitmaps                    
BMP_SIZES                     BITMAP  rc/sizes.bmp
                                      
// cursors for the window layout ///////////////////////////////////////////
                                      
// Standard tool cursors
CUR_ANCHOR                    CURSOR  rc/atchtool.cur
CUR_GROUPTOOL                 CURSOR  rc/gruptool.cur
CUR_LOCKTOOL                  CURSOR  rc/locktool.cur
CUR_NMBR_12                   CURSOR  rc/nmbr12.cur
CUR_NMBR_21                   CURSOR  rc/nmbr21.cur
CUR_TABTOOL                   CURSOR  rc/tabtool.cur
CUR_VISBTOOL                  CURSOR  rc/visbtool.cur
IDC_VSIZEBAR                  CURSOR  rc/sizebarv.cur

// Drag-drop cursors for object list -- Temporary
TMP_SRCCURSOR                 CURSOR  rc/tmpsrc.cur
TMP_DSTCURSOR                 CURSOR  rc/tmpdst.cur
TMP_INVCURSOR                 CURSOR  rc/tmpinv.cur
                                      
// dialogs for the window layout ///////////////////////////////////////////
                                      
rcinclude                     rc/attach.dlg
rcinclude                     rc/fill_ed.dlg
rcinclude                     rc/grid.dlg
rcinclude                     rc/lay_pref.dlg
rcinclude                     rc/pos&size.dlg
rcinclude                     rc/rename.dlg
rcinclude                     rc/wnd_pos.dlg
rcinclude                     rc/wnd_styl.dlg
                                
// icons for the window layout /////////////////////////////////////////////
                                
ICON_LAYOUT                   ICON  rc/layout.ico

// menu for the window layout //////////////////////////////////////////////

rcinclude                     rc/lay_menu.mnu

// strings for errors //////////////////////////////////////////////////////

STRINGTABLE
BEGIN
  ERROR_NOPROTSUPPORT,    "Object created without supporting APROT_WND."
  ERROR_INVALIDHWND,      "The hwnd window item has an invalid m_hwndItem member."
END

// version info ////////////////////////////////////////////////////////////

VER_LAYOUT VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Window Layout\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "AW32WLAY\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "AW32WLAY.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
