/*---------------------------
   Fileobj.RC resource script
  ---------------------------*/

#include <windows.h>
#include "fileobj.h"
#include <bwcc.h>
#include <ver.h>

STRINGTABLE 
BEGIN
  IDS_FILTERSTRING, "Data Files (*.DAT)|*.dat|VAB Files (*.VAB)|*.vab|Text Files (*.TXT)|*.txt|All Files (*.*)|*.*|"
END

file ICON "file.ico"

ObjectEdit DIALOG 27, 45, 297, 164
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "File Object"
FONT 8, "Helv"
BEGIN
  CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 250, 37, 40, 14
  PUSHBUTTON "Cancel", IDCANCEL, 250, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help", IDHELP, 250, 84, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  LTEXT "Objects in &File:", -1, 10, 38, 63, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", IDL_SELECTED, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 10, 49, 60, 78
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 36, 69, 98
  CONTROL " << A&dd <<", IDD_ADD, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP, 79, 57, 40, 14
  CONTROL "&Remove", IDD_REMOVE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 79, 77, 40, 14
  CONTROL "&Edit", IDD_EDIT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 79, 97, 40, 14
  LTEXT "&Available Objects:", -1, 128, 38, 70, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", IDL_AVAILABLE, "LISTBOX", LBS_STANDARD | LBS_MULTIPLESEL | LBS_HASSTRINGS | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 128, 49, 60, 78
  CONTROL "&Text", IDD_TEXT, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 193, 54, 43, 10
  CONTROL "&Number", IDD_NUMBER, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 73, 43, 10
  CONTROL "&Picture", IDD_PICTURE, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 93, 43, 10
  CONTROL "&Other", IDD_OTHER, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 113, 43, 10
  LTEXT "Default File E&xtension:", -1, 12, 145, 76, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "FIL", IDE_DEFEXT, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 90, 143, 34, 12
  ICON "file", -1, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
  LTEXT "", IDD_OBJECT, 28, 5, 264, 19
  CONTROL "", -1, "BorShade", BSS_HDIP | WS_CHILD | WS_VISIBLE, 0, 29, 297, 2
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 124, 36, 113, 98
  CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 243, 36, 2, 123
  CONTROL "", 112, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 6, 139, 231, 19
END
// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: File Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "ALM_FILE\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_FILE.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
