/*---------------------------
   Fileobj.RC resource script
  ---------------------------*/
#include <windows.h>
#include <ver.h>
#include "imexdlg.h"


STRINGTABLE 
BEGIN
  IDS_FILTERSTRING, "Data Files (*.DAT)|*.dat|VAB Files (*.VAB)|*.vab|Text Files (*.TXT)|*.txt|All Files (*.*)|*.*|"
END

ExportConfiguration DIALOG 12, 23, 262, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Export Configuration"
FONT 8, "Helv"
{
 DEFPUSHBUTTON "OK", IDOK, 216, 6, 40, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 216, 25, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 216, 53, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT "&Export Fields:", -1, 10, 8, 63, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 LISTBOX IDL_FILE, 10, 19, 60, 97, LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "<< &Tie <<", IDD_TIE, 79, 6, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "<< Tie A&ll <<", IDD_TIEALL, 79, 22, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "<< &Untie", IDD_UNTIE, 79, 38, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "<< A&dd", IDD_ADD, 79, 58, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "<< &Add...", IDD_ADDNUM, 79, 74, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "<< &Insert", IDD_INSERT, 79, 90, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "<< &Remove", IDD_REMOVE, 79, 106, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 LTEXT "Available &Objects:", -1, 139, 8, 62, 8, WS_CHILD | WS_VISIBLE
 LISTBOX IDL_APPLICATION, 139, 19, 60, 97, LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 CONTROL "Ta&bs", IDD_TABS, "BUTTON", BS_AUTORADIOBUTTON, 10, 138, 28, 10
 CONTROL "&Commas", IDD_COMMAS, "BUTTON", BS_AUTORADIOBUTTON, 10, 148, 48, 10
 CHECKBOX "&Show Status", IDD_SHOW, 111, 139, 54, 10, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "Field &Names in Record 1", IDD_IGNORE, 111, 150, 91, 10, BS_AUTOCHECKBOX | WS_TABSTOP
 GROUPBOX "&Field Delimiter", -1, 6, 125, 97, 39, BS_GROUPBOX
 GROUPBOX "Other Options", -1, 107, 125, 97, 39, BS_GROUPBOX
}

addnumtofield DIALOG 20, 34, 109, 53
STYLE DS_MODALFRAME | WS_POPUP | WS_DLGFRAME | WS_SYSMENU
CAPTION ""
FONT 8, "Helv"
{
 LTEXT "&Add", -1, 12, 13, 14, 8
 EDITTEXT IDE_NUM, 29, 11, 24, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 LTEXT "fields to file.", -1, 57, 13, 43, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 DEFPUSHBUTTON "OK", IDOK, 6, 33, 40, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 62, 33, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
}

ImportConfiguration DIALOG 12, 23, 262, 186
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Import Configuration"
FONT 8, "Helv"
{
 DEFPUSHBUTTON "OK", IDOK, 216, 6, 40, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 216, 25, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 216, 53, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
 LTEXT "Im&port Fields:", -1, 10, 8, 63, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 LISTBOX IDL_FILE, 10, 19, 60, 117, LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "<< &Tie <<", IDD_TIE, 79, 6, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "<< Tie A&ll <<", IDD_TIEALL, 79, 22, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "<< &Untie", IDD_UNTIE, 79, 38, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "<< A&dd", IDD_ADD, 79, 58, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "<< &Add...", IDD_ADDNUM, 79, 74, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "<< &Insert", IDD_INSERT, 79, 90, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "<< &Remove", IDD_REMOVE, 79, 106, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "First Record..", IDD_FIRSTRECORD, 79, 122, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT "Available &Objects:", -1, 139, 8, 62, 8, WS_CHILD | WS_VISIBLE
 LISTBOX IDL_APPLICATION, 139, 19, 60, 117, LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 CONTROL "Ta&bs", IDD_TABS, "BUTTON", BS_AUTORADIOBUTTON, 14, 155, 28, 10
 CONTROL "&Commas", IDD_COMMAS, "BUTTON", BS_AUTORADIOBUTTON, 14, 166, 48, 10
 CHECKBOX "&Show Status", IDD_SHOW, 112, 155, 54, 10, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "Ig&nore First Line", IDD_IGNORE, 112, 166, 91, 10, BS_AUTOCHECKBOX | WS_TABSTOP
 GROUPBOX "&Field Delimiter", -1, 6, 140, 97, 39, BS_GROUPBOX
 GROUPBOX "Other Options", -1, 107, 140, 97, 39, BS_GROUPBOX
}

ImportExport DIALOG 22, 43, 298, 165
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Import / Export Object Definition"
FONT 8, "Helv"
{
 DEFPUSHBUTTON "OK", IDOK, 250, 36, 40, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 250, 55, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "I&mport...", IDD_IMPORTCONF, 250, 74, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "E&xport...", IDD_EXPORTCONF, 250, 93, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 250, 119, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
 CONTROL "O&bjects in Im/Ex:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 38, 64, 8
 LISTBOX IDL_SELECTED, 10, 49, 60, 78, LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 PUSHBUTTON " << A&dd <<", IDD_ADD, 79, 57, 40, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Remove", IDD_REMOVE, 79, 77, 40, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "&Edit", IDD_EDIT, 79, 97, 40, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
 LTEXT "&Available Objects:", -1, 128, 38, 70, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 LISTBOX IDL_AVAILABLE, 128, 49, 60, 78, LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 LTEXT "&Field Name:", IDS_FIELDNAME, 13, 145, 42, 12, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP
 EDITTEXT IDE_FIELDNAME, 58, 143, 174, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP
 ICON "impexp", -1, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
 LTEXT "", IDD_OBJECT, 28, 5, 264, 19
 CONTROL "&Text", IDD_TEXT, "BUTTON", BS_AUTORADIOBUTTON, 193, 52, 43, 10
 CONTROL "&Number", IDD_NUMBER, "BUTTON", BS_AUTORADIOBUTTON, 193, 68, 43, 10
 CONTROL "&Date", IDD_DATE, "BUTTON", BS_AUTORADIOBUTTON, 193, 84, 43, 10
 CONTROL "T&ime", IDD_TIME, "BUTTON", BS_AUTORADIOBUTTON, 193, 100, 43, 10
 CONTROL "&Other", IDD_OTHER, "BUTTON", BS_AUTORADIOBUTTON, 193, 116, 43, 10
}

Status DIALOG 37, 50, 192, 70
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION
CAPTION "Status"
FONT 8, "Helv"
{
 CONTROL "Records Imported:", ID_TEXT, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 59, 10, 60, 8
 LTEXT "0", ID_RECORDS, 121, 10, 42, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 PUSHBUTTON "Cancel", IDCANCEL, 73, 51, 45, 14
 LTEXT "100%", -1, 161, 35, 20, 8
 LTEXT "0%", -1, 11, 35, 13, 8
 LTEXT "", IDD_BAR, 12, 22, 166, 10, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP
}


impexp ICON "imptexpt.ico"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Import/Export Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "AW32IMEX\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "AW32IMEX.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
