#define IDD_OBJECT  201

#include <bwcc.h>
#include <windows.h>
#include <ver.h>

TFDIALOG DIALOG 10, 18, 265, 254
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Text Builder"
FONT 8, "Helv"
BEGIN
  CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 219, 36, 40, 14
  PUSHBUTTON "Cancel", IDCANCEL, 219, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help", IDHELP, 219, 84, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  CONTROL " Text Builder Options:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 36, 76, 10
  CONTROL "Auto &Update", 111, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 50, 68, 10
  CONTROL " View Objects of &Type:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 131, 36, 76, 10
  CONTROL "", 110, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 134, 49, 69, 57
  CONTROL "E&xpression Objects:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 71, 64, 8
  CONTROL "", 105, "LISTBOX", LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 10, 82, 67, 58
  CONTROL " << A&dd <<", 102, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 86, 81, 40, 14
  PUSHBUTTON "&Remove", 103, 86, 101, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Edit", 104, 86, 121, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  CONTROL "&Available Objects:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 135, 71, 60, 8
  CONTROL "", 101, "LISTBOX", LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 135, 82, 67, 58
  LTEXT "&Variable Name:", 112, 11, 151, 57, 8
  EDITTEXT 109, 11, 161, 92, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
  LTEXT "Result &Object:", -1, 110, 151, 57, 8
  CONTROL "", 106, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 110, 161, 92, 60
  LTEXT " Ex&pression:", -1, 6, 184, 200, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", 108, "EDIT", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 9, 196, 195, 49
  ICON "TFICON", -1, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
  LTEXT "", IDD_OBJECT, 28, 5, 231, 19, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", -1, "BorShade", BSS_HDIP | WS_CHILD | WS_VISIBLE, 0, 29, 265, 2
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 69, 76, 74
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 131, 69, 76, 74
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 131, 46, 76, 18
  CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 212, 35, 2, 214
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 46, 76, 18
  CONTROL "", 107, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 6, 148, 201, 30
  CONTROL "", 107, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 6, 193, 201, 55
END

TFICON ICON "textfact.ico"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Text Builder Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "ALM_TFCT\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_TFCT.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
