#include <windows.h>
#include <bwcc.h>
#include <ver.h>

#include "com_dlg.h"

Connection DIALOG 22, 18, 188, 163
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Connection Configuration"
FONT 8, "Helv"
BEGIN
  LTEXT "Baud Rate:", -1, 10, 20, 41, 8, WS_CHILD | WS_VISIBLE
  LTEXT "Data Bits:", -1, 16, 36, 33, 8, WS_CHILD | WS_VISIBLE
  LTEXT "Stop Bits:", -1, 17, 52, 33, 8, WS_CHILD | WS_VISIBLE
  LTEXT "Parity:", -1, 28, 66, 21, 8, WS_CHILD | WS_VISIBLE
  CONTROL "Flow Control:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 83, 44, 8
  LTEXT "Ports:", -1, 30, 99, 20, 8, WS_CHILD | WS_VISIBLE
  CONTROL "", idBaudRate, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 18, 64, 54
  CONTROL "", idDataBits, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 34, 64, 46
  CONTROL "", idStopBits, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 49, 64, 37
  CONTROL "", idParity, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 65, 64, 59
  CONTROL "", idhandshake, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 82, 64, 39
  CONTROL "", idPorts, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 98, 64, 50
  DEFPUSHBUTTON "OK", IDOK, 141, 30, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  DEFPUSHBUTTON "Cancel", IDCANCEL, 141, 54, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Modem...", idModemS, 141, 93, 42, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 5, 12, 120, 128
  LTEXT "Port Settings:", -1, 5, 4, 120, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "Parity Check", idChkParity, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 114, 63, 10
  CONTROL "Carrier Detect", idCrDetect, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 127, 60, 10
  CONTROL "Modem", idModem, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 147, 51, 9
  CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 133, 3, 5, 156
END

signals DIALOG 5, 25, 341, 211
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "String Signals"
FONT 8, "Helv"
BEGIN
	ICON "connection", -1, 10, 6, 18, 20, WS_CHILD | WS_VISIBLE
	LTEXT "", IDD_OBJECT, 44, 6, 168, 20, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "String Signals:", -1, 3, 33, 270, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "View Mode", -1, 9, 46, 51, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 9, 54, 51, 52
	CONTROL "ASCII", idASCII, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 16, 59, 32, 10
	CONTROL "Byte", idByte, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 70, 32, 10
	CONTROL "Word", idWord, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 81, 32, 10
	CONTROL "Long", idLongword, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 92, 32, 10
	CONTROL "", idList, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_GROUP | WS_TABSTOP, 65, 51, 151, 60
	LTEXT "String:", idString, 12, 111, 22, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", idInsString, "EDIT", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 34, 112, 181, 18
	LTEXT "Compare Bits:", idCompareBits, 10, 132, 78, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "All Eight Bits", idAlleight, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 31, 145, 54, 10
	CONTROL "Lower Seven Bits", idLowerseven, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 119, 145, 72, 10
	CONTROL "", idCompareGroup, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 141, 204, 17
	PUSHBUTTON "Add", idAdd, 222, 51, 43, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "Change", idChange, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 222, 70, 43, 14
	CONTROL "Remove", idRemove, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 222, 91, 43, 14
	CONTROL "Activate", idActivate, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 222, 111, 43, 14
	CONTROL "Deactivate", idDeactivate, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 222, 131, 43, 14
	CONTROL "Found String:", idFoundStr, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 168, 63, 10
	CONTROL "Found Position:", idFoundPos, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 182, 63, 10
	CONTROL "Intercept Text", idIntercept, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 197, 63, 10
	CONTROL "", idFoundStrCon, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 71, 167, 98, 49
	CONTROL "", idFoundPosCon, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 71, 181, 98, 49
	CONTROL "", idInterceptCon, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 71, 195, 98, 49
	DEFPUSHBUTTON "OK", IDOK, 289, 38, 45, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "Cancel", IDCANCEL, 289, 60, 45, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Configure...", idConfigure, 289, 82, 45, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Help", 105, 289, 121, 45, 13, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
	CONTROL "", 124, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 0, 29, 330, 2
	CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 2, 41, 273, 120
	CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 282, 38, 1, 168
END

Modem DIALOG 18, 18, 241, 91
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Modem Settings"
FONT 8, "Helv"
BEGIN
	LTEXT "Rings.", -1, 108, 17, 24, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "times Every", -1, 68, 54, 40, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Dial Method:", -1, 11, 69, 44, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", idDialMethod, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 59, 68, 86, 32
	CONTROL "", idRingtimes, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 89, 18, 17, 12
	CONTROL "", idDialNumber, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 41, 34, 121, 12
	CONTROL "", idRedialtimes, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 49, 52, 18, 12
	DEFPUSHBUTTON "OK", IDOK, 185, 27, 48, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "CANCEL", IDCANCEL, 185, 51, 48, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 4, 13, 164, 72
	LTEXT "Phone Settings:", -1, 4, 3, 163, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 178, 4, 2, 84
	EDITTEXT idSeconds, 110, 52, 19, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	LTEXT "Seconds", -1, 132, 54, 31, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "Answer Phone After", idRing, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 9, 19, 77, 9
	CONTROL "Dial:", idDial, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 9, 35, 26, 10
	CONTROL "Redial", idRedial, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 53, 37, 10
END

askPhone DIALOG 46, 106, 172, 82
STYLE DS_MODALFRAME | WS_POPUP | WS_DLGFRAME | WS_SYSMENU
CLASS "bordlg"
CAPTION "DIALOG_1"
BEGIN
  CONTROL "", 101, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 0, 0, 172, 82
  LTEXT "There is no phone number in the connection settings. Please enter a phone number for this call.", -1, 34, 13, 122, 27, WS_CHILD | WS_VISIBLE | WS_GROUP
  EDITTEXT idAskPhone, 34, 43, 122, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
  PUSHBUTTON "CANCEL", IDCANCEL, 61, 61, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 113, 61, 40, 14
  ICON "msg", -1, 13, 16, 16, 16, WS_CHILD | WS_VISIBLE
END

connection ICON "connctn.ico"
msg ICON "msg.ico"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Connection Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "ALM_CNCT\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_CNCT.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  1, "VeRsIoN=1.20\0"
  2, "\0"
  3, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
