/*--------------------------------------------------------------------------*\
 | FILE         : DATB.RC                                                   |
 | DESCRIPTION  : Database Object Resource.                                 |
 | COPYRIGHT    : Novell, Inc.                                              |
 | EDIT LOG     :                                                           |
 |   v1.00.00     mw    01-Sep-1993  Initial Edit                           |
\*--------------------------------------------------------------------------*/
#include "datb_rc.h"
#include <ver.h>


Database DIALOG 8, 26, 297, 221
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
FONT 8, "Helv"
BEGIN
	CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 250, 37, 40, 14
	PUSHBUTTON "Cancel", IDCANCEL, 250, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "&Help", IDHELP, "BUTTON", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 250, 84, 40, 14
	LTEXT "O&bjects in Record:", -1, 10, 38, 64, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDL_SELECTED, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 10, 49, 60, 78
	CONTROL " << &Add <<", IDD_ADD, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP, 80, 57, 39, 14
	CONTROL "&Remove", IDD_REMOVE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 80, 77, 39, 14
	CONTROL "&Edit", IDD_EDIT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 80, 97, 39, 14
	LTEXT "A&vailable Objects:", -1, 128, 38, 70, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDL_AVAILABLE, "LISTBOX", LBS_STANDARD | LBS_MULTIPLESEL | LBS_HASSTRINGS | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 128, 49, 60, 78
	CONTROL "&Text", IDD_TEXT, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 193, 52, 43, 10
	CONTROL "&Number", IDD_NUMBER, "BorRadio", 9 | WS_CHILD | WS_VISIBLE, 193, 65, 43, 10
	CONTROL "&Date", IDD_DATE, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 78, 43, 10
	CONTROL "Ti&me", IDD_TIME, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 91, 43, 10
	CONTROL "&Picture", IDD_PICTURE, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 104, 43, 10
	CONTROL "&Other", IDD_OTHER, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 193, 117, 43, 10
	CONTROL " &Sortable Field", IDG_FIELD, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 6, 139, 230, 9
	CONTROL "&Field Name:", IDS_FIELDNAME, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 11, 155, 40, 10
	CONTROL "", IDE_FIELDNAME, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 54, 153, 91, 12
	CONTROL "&Indexed Field", IDD_INDEXED, "BorCheck", WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 158, 155, 73, 10
	CONTROL "&Key Type:", IDS_KEYTYPE, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 16, 172, 35, 8
	CONTROL "", IDC_KEYTYPE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_TABSTOP, 54, 169, 91, 48
	CONTROL "&Characters:", IDS_CHARS, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 158, 172, 38, 8
	CONTROL "", IDE_CHARS, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 200, 170, 31, 12
	LTEXT "File E&xtension:", -1, 12, 200, 51, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDE_EXTENSION, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 198, 29, 12
	LTEXT "Record ID Ob&ject:", -1, 99, 200, 62, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_RECORDID, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 161, 198, 71, 48
	ICON "database", -1, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
	LTEXT "", IDD_OBJECT, 28, 5, 264, 19
	CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 36, 69, 98
	CONTROL "", -1, "BorShade", BSS_HDIP | WS_CHILD | WS_VISIBLE, 0, 29, 297, 2
	CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 124, 36, 113, 98
	CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 243, 36, 2, 179
	CONTROL "", 101, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 6, 148, 231, 39
	CONTROL "", 101, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 6, 193, 231, 22
END
database ICON "database.ico"


PowerSearch DIALOG 17, 25, 271, 127
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Power Search"
FONT 8, "Helv"
BEGIN
	CONTROL "&Find", IDD_FIND, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 224, 7, 40, 14
	PUSHBUTTON "&Append", IDD_APPEND, 224, 26, 40, 14
	PUSHBUTTON "&Intersect", IDD_INTERSECT, 224, 45, 40, 14
	PUSHBUTTON "&Omit", IDD_OMIT, 224, 64, 40, 14
	PUSHBUTTON "&Exit", IDCANCEL, 224, 88, 40, 14
	CONTROL "&Help", IDHELP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 224, 107, 40, 14
	LTEXT "Inde&xed Fields:", -1, 11, 9, 73, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDL_KEYS, "LISTBOX", LBS_NOTIFY | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 11, 20, 90, 98
	LTEXT " Field &Search", -1, 111, 26, 99, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "Si&gnificant", IDD_SIGNIFICANT, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 117, 42, 77, 10
	CONTROL "&Range", IDD_RANGE, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 117, 65, 77, 10
	RTEXT "&Key:", IDS_KEY1, 117, 84, 16, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDE_KEY1, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 136, 82, 67, 12
	RTEXT "&To:", IDS_KEY2, 117, 103, 12, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT IDE_KEY2, 136, 102, 67, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	LTEXT "0 Records Found", IDS_FOUND, 115, 9, 92, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 7, 100, 114
	CONTROL "", -1, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 111, 35, 100, 86
	CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 111, 7, 100, 13
	CONTROL "", 152, "BorShade", 3 | WS_CHILD | WS_VISIBLE, 217, 6, 2, 116
END

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 1, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Database Object\0"
      VALUE "FileVersion",	"1.21\0"
      VALUE "InternalName",     "ALM_DATB\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_DATB.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  1, "VeRsIoN=1.21\0"
  2, "\0"
  3, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
