/*//////////////////////////////////////////////////////////////
//
//          Copyright 1994, Novell, Inc.  All rights reserved
//
//  THIS WORK IS AN UNPUBLISHED WORK AND CONTAINS CONFIDENTIAL,
//  PROPRIETARY, AND TRADE SECRET INFORMATION OF NOVELL, INC.
//  ACCESS TO THIS WORK IS RESTRICTED TO (I) NOVELL EMPLOYEES WHO HAVE
//  A NEED TO KNOW TO PERFORM THEIR TASKS WITHIN THE SCOPE OF
//  THEIR ASSIGNMENTS AND (II) ENTITIES OTHER THAN NOVELL WHO HAVE
//  ENTERED INTO APPROPRIATE LICENCE AGREEMENTS.  NO PART OF THIS
//  WORK MAY BE USED, PRACTICED, PERFORMED, COPIED, DISTRIBUTED,
//  REVISED, MODIFIED, TRANSLATED, ABRIDGED, CONDENSED, EXPANDED,
//  COLLECTED, COMPILED, LINKED, RECAST, TRANSFORMED, OR ADAPTED
//  WITHOUT THE PRIOR WRITTEN CONSENT OF NOVELL.  ANY USE OR
//  EXPLOITATION OF THIS WORK WITHOUT AUTHORIZATION COULD SUBJECT
//  THE PERPETRATOR TO CRIMINAL AND CIVIL LIABILITY.
//
//--------------------------------------------------------------
//
// FILE:          OLERC.RC
//
// AUTHOR:        Scott McCarty
//
// DESCRIPTION:   Resource file for the OLE1 ALM.
//
// CHANGES:
//
//////////////////////////////////////////////////////////////*/

#include <windows.h>
#include <bwcc.h>
#include <ver.h>

#define RCINVOKED

#include "olerc.h"

//////////////// Icons

OLEICON ICON "ole.ico"

//////////////// Strings

//////////////// Dialogs

OLEDLG DIALOG 19, 17, 242, 234
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "OLE Object"
FONT 8, "MS Sans Serif"
BEGIN
  ICON OLEICON, -1, 5, 4, 18, 20

  CONTROL "", IDD_NAME, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 28, 5, 208, 19

  CONTROL "", -1, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 5, 29, 230, 2

  CONTROL "", -1, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 5, 44,  171, 20
  CONTROL " Object &Type:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 34, 170, 10
  CONTROL "", IDD_OBJECTTYPES, "COMBOBOX", CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 48, 156, 60

  CONTROL "", -1, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 5, 80,  171, 44
  CONTROL " &Menu:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 70, 170, 10
  CONTROL "", IDD_MENUOBJECTS, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 84, 152, 60
  CONTROL "Insert At &Position:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 104, 76, 8
  CONTROL "", IDD_MENUITEMPOS, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 90, 102, 16, 12
  CONTROL "Ed&it...", IDD_EDITMENU, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 102, 40, 14

  CONTROL "", -1, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 5, 142, 171, 86
  CONTROL " Options:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 132, 170, 10
  CONTROL "&Embedded", IDD_EMBEDDED, "BorRadio", 9 | WS_CHILD | WS_VISIBLE, 15, 146, 45, 10
  CONTROL "&Linked", IDD_LINKED, "BorRadio", 9 | WS_CHILD | WS_VISIBLE, 15, 158, 33, 10
  CONTROL "File:", IDD_FILECUE, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 174, 17, 8
  CONTROL "", IDD_FILENAME, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 172, 132, 12
  CONTROL "Item:", IDD_ITEMCUE, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 190, 16, 8
  CONTROL "", IDD_ITEMNAME, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 188, 132, 12
  CONTROL "", -1, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 15, 206, 153, 1
  CONTROL "Track &Size Changes", IDD_TRACKSIZE, "BorCheck", 3 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 19, 213, 96, 10

  CONTROL "", -1, "BorShade", 5 | WS_CHILD | WS_VISIBLE, 183, 34, 2, 194

  CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 193, 34, 40, 14
  CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 193, 54, 40, 14
  CONTROL "&Help", IDD_HELP,"BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 193, 74, 40, 14
END

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: OLE 1.0 Client Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "ALM_OLE1\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_OLE1.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
