#include "windows.h"
#include <ver.h>
#include <bwcc.h>
#include "cursordl.h"


SMALLI BITMAP smalli.bmp
SMALLS BITMAP smalls.bmp
HANDCURSOR CURSOR hand.cur

DIALOG_1 DIALOG 8, 19, 261, 232
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "CURSOR"
FONT 8, "Helv"
BEGIN
	ICON "CURSOR1", -1, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
	LTEXT " ", ID_OBJECT, 28, 5, 227, 19, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "OK", AIDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 215, 52, 40, 14
	PUSHBUTTON "Cancel", AIDCANCEL, 215, 70, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Help", IDHELP, 215, 88, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&New", NEWID, 215, 122, 40, 14
	PUSHBUTTON "&Delete", DELICONID, 215, 140, 40, 14
	PUSHBUTTON "&Load", LOADICONID, 215, 158, 40, 14
	PUSHBUTTON "&Clear", CLEARID, 215, 176, 40, 14
	PUSHBUTTON "&Test", ID_TEST, 215, 194, 40, 14
	LTEXT "Frame:", -1, 107, 38, 21, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "?", FRAMECOUNTID, "STATIC", WS_CHILD | WS_VISIBLE, 136, 38, 32, 9
	LTEXT "Dela&y (1/60 sec):", -1, 9, 38, 60, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT DELAYID, 69, 37, 28, 11, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	LTEXT "Ctrl-Click to set Hot Spot", -1, 9, 216, 143, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", -1, "BorShade", BSS_HDIP | WS_CHILD | WS_VISIBLE, 0, 28, 261, 2
	CONTROL "", ID_BORDER, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 5, 33, 203, 18
	CONTROL "", ID_GROUP, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 5, 54, 141, 138
	CONTROL "", 137, "BorShade", 3 | WS_CHILD | WS_VISIBLE, 209, 52, 2, 173
END


CURSOR1 ICON "cursor.ico"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Cursor Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "ALM_ACUR\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_ACUR.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
