/*//////////////////////////////////////////////////////////////
//
//          Copyright 1993, Novell, Inc.  All rights reserved
//
//  THIS WORK IS AN UNPUBLISHED WORK AND CONTAINS CONFIDENTIAL,
//  PROPRIETARY, AND TRADE SECRET INFORMATION OF NOVELL, INC.
//  ACCESS TO THIS WORK IS RESTRICTED TO (I) NOVELL EMPLOYEES WHO HAVE
//  A NEED TO KNOW TO PERFORM THEIR TASKS WITHIN THE SCOPE OF
//  THEIR ASSIGNMENTS AND (II) ENTITIES OTHER THAN NOVELL WHO HAVE
//  ENTERED INTO APPROPRIATE LICENSE AGREEMENTS.  NO PART OF THIS
//  WORK MAY BE USED, PRACTICED, PERFORMED, COPIED, DISTRIBUTED,
//  REVISED, MODIFIED, TRANSLATED, ABRIDGED, CONDENSED, EXPANDED,
//  COLLECTED, COMPILED, LINKED, RECAST, TRANSFORMED, OR ADAPTED
//  WITHOUT THE PRIOR WRITTEN CONSENT OF NOVELL.  ANY USE OR
//  EXPLOITATION OF THIS WORK WITHOUT AUTHORIZATION COULD SUBJECT
//  THE PERPETRATOR TO CRIMINAL AND CIVIL LIABILITY.
//
//--------------------------------------------------------------
//
// FILE:
//
// AUTHOR:
//
// DESCRIPTION:
//
// CHANGES:
//
// 
//////////////////////////////////////////////////////////////*/

#include <bwcc.h>
#include <ver.h>
#include "resource.h"

STRINGTABLE 
BEGIN
  IDS_ADDEDSERVICE, "  Input Valid Service Name"
  IDS_ADDEDTOPIC,   "  Input Valid Topic Name"
  IDS_ADDEDITEM,    "  Input Valid Item Name"
  IDS_ADDEDFORMAT,  "  Choose Valid Format Name"
  IDS_ADDEDOBJECT,  "  Choose a Valid Object"
END


DDESERVER DIALOG 110, 55, 291, 238
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "DDE Server"
FONT 8, "Helv"
BEGIN
  CONTROL "", IDSERVICE, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 45, 32, 110, 12
  CONTROL "", IDMAINLIST, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 13, 65, 196, 68
  CONTROL "", IDTOPIC, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 13, 166, 58, 12
  PUSHBUTTON "&Context...", IDCONTEXT, 13, 188, 52, 15, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  CONTROL "", IDITEM, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 84, 166, 65, 12
  CONTROL "", IDFORMAT, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 84, 193, 65, 56
  CONTROL "", IDOBJTYPE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 153, 166, 66, 56
  CONTROL "", IDOBJECT, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 153, 193, 65, 56
  CONTROL "", IDTIME, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 210, 30, 12
  PUSHBUTTON "OK", IDOK, 235, 33, 47, 18, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Cancel", IDCANCEL, 235, 58, 47, 18, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Help", IDHELP, 235, 83, 47, 18, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Add", IDADD, 235, 108, 47, 18, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Update", IDUPDATE, 235, 133, 47, 18, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Delete", IDDELETE, 235, 158, 47, 18, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Signals...", IDSIGNALS, 235, 183, 47, 18, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Help Item...", IDSYSHELP, 235, 208, 47, 18, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  CONTROL "msec", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 185, 211, 25, 9
  CONTROL "Conversation", 110, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 142, 68, 84
  CONTROL "Service:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 11, 35, 33, 8
  LTEXT "Topic:", -1, 13, 155, 33, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Item:", -1, 85, 155, 36, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Object Type:", -1, 153, 155, 47, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Formats:", -1, 85, 182, 38, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Data updates every:", -1, 85, 212, 67, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Connect To:", -1, 153, 182, 41, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "[TOPIC] [ITEM] [FORMAT] [OBJECT]", -1, 13, 52, 133, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
  ICON "DDESICON", IDICON, 13, 3, 18, 20, WS_CHILD | WS_VISIBLE
  CONTROL "", IDTITLE, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 38, 3, 240, 21
  CONTROL "Transaction Parameters", 110, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 82, 142, 141, 83
  CONTROL "", 102, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 0, 25, 291, 4
  CONTROL "", 103, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 9, 49, 213, 85
  CONTROL "", 104, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 9, 30, 213, 17
END



DLGOPTIONS DIALOG 128, 82, 220, 122
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Conversation Options"
FONT 8, "Helv"
BEGIN
  CONTROL "&country", IDEF_COUNTRY, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 46, 43, 82, 50
  CONTROL "code&Page", IDEF_CODEPAGE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 61, 81, 50
  CONTROL "&language", IDEF_LANG, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 80, 81, 50
  CONTROL "", IDEF_SECURITY, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 47, 97, 33, 12
  CONTROL "Use Default Context", IDDEFAULT, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 141, 32, 76, 13
  PUSHBUTTON "OK", IDOK, 141, 53, 56, 17, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Cancel", IDCANCEL, 141, 76, 56, 17, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  LTEXT "Country:", -1, 8, 44, 37, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "CodePage:", -1, 7, 64, 39, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Language:", -1, 7, 83, 34, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Security:", -1, 7, 99, 32, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
  ICON "DDESICON", -1, 6, 3, 18, 20, WS_CHILD | WS_VISIBLE
  LTEXT "", IDTITLE, 30, 4, 184, 19, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", 132, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, -1, 23, 221, 5
  CONTROL "Conversation Context", 103, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 5, 32, 130, 84
END


DLGSYSHELP DIALOG 40, 47, 296, 115
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Help Item"
FONT 8, "Helv"
BEGIN
  CONTROL "HELP TEXT ...", IDHELPDATA, "EDIT", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 5, 46, 228, 65
  PUSHBUTTON "OK", IDOK, 245, 46, 46, 19, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Cancel", IDCANCEL, 245, 68, 46, 19, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  ICON "DDESICON", IDICON, 6, 4, 18, 20, WS_CHILD | WS_VISIBLE
  LTEXT "Help Item", IDTITLE, 29, 4, 263, 20, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "System/Help:", -1, 9, 33, 44, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", 111, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, -2, 23, 299, 6
  CONTROL "", 104, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 6, 32, 228, 11
END

DLGSIGNALS DIALOG 66, 39, 249, 144
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Signals"
FONT 8 "Helv"
BEGIN
  CONTROL "", IDSIGNALLIST, "LISTBOX", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 48, 88, 61
  CONTROL "", IDSIGNAL, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 34, 111, 64, 12
  CONTROL "", IDFORMAT, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 103, 48, 90, 51
  CONTROL "", IDOBJTYPE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 103, 78, 90, 51
  CONTROL "", IDOBJECT, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 103, 111, 90, 51
  PUSHBUTTON "OK", IDOK, 205, 32, 40, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Cancel", IDCANCEL, 205, 51, 40, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Add", IDADD, 205, 87, 40, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Delete", IDDELETE, 205, 105, 40, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "Update", IDUPDATE, 205, 123, 40, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  ICON "DDESICON", IDICON, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
  LTEXT "", IDTITLE, 27, 4, 214, 19, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Signal:", -1, 8, 112, 25, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Signal List:", -1, 8, 37, 63, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Connected Object:", -1, 104, 98, 74, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", 111, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 0, 25, 249, 3
  LTEXT "Object Type:", -1, 103, 66, 74, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "Format List:", -1, 103, 37, 74, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", 106, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 3, 33, 198, 103
END

DDESICON ICON "ddes.ico"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: DDE Server Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "AW32DDES\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "AW32DDES.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
