#include <windows.h>
#include <ver.h>

#include "l_dialog.h"

list ICON "list.ico"

LIST_SETUP_DIALOG DIALOG 19, 22, 279, 179
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION	| WS_SYSMENU 
CAPTION "List Object Setup"
FONT 8, "Helv"
BEGIN
	CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 222, 37, 50, 14
	PUSHBUTTON "Cancel", IDCANCEL, 222, 57, 50, 14
	PUSHBUTTON "&Attributes...", PB_FONTS, 222, 78, 50, 14
	CONTROL "&Help", PB_HELP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 222, 119, 50, 14
	LTEXT " Startup &List", -1, 7, 37, 97, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "&Entry:", ST_ENTRY, 12, 53, 19, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", ED_ENTRY, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 33, 51, 65, 12
	CONTROL "A&dd", PB_ADD, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 12, 68, 40, 14
	PUSHBUTTON "&Remove", PB_REMOVE, 58, 68, 40, 14
	CONTROL "", LB_STARTUPLIST, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_OWNERDRAWFIXED | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 13, 88, 84, 80
	LTEXT " &Interface Style", -1, 110, 37, 98, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "List Box", RB_LISTBOX, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 115, 52, 90, 10
	CONTROL "Simple Combo Box", RB_SIMPLECOMBO, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 115, 67, 90, 10
	CONTROL "Drop Down Combo Box", RB_DROPDOWNCOMBO, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 115, 82, 90, 10
	CONTROL "Drop Down List", RB_DROPDOWNLIST, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 115, 97, 90, 10
	CONTROL "&Multiple Selections", CB_MULTISELECT, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 115, 123, 80, 10
	LTEXT " S&end Selections To:", -1, 110, 143, 97, 9, WS_CHILD | WS_VISIBLE
	CONTROL "", DD_TEXTOBJECTS, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 114, 157, 90, 76
	CONTROL "list", -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 4, 18, 20
	LTEXT "", ST_OBJECTNAME, 26, 5, 249, 18, WS_CHILD | WS_VISIBLE | WS_GROUP
END

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: List Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "AW32LIST\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "AW32LIST.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
