#include <windows.h>
#include <ver.h>
#include <bwcc.h>

#include "NWBINDRC.H"


OBJ_EDIT_2 DIALOG 7, 17, 209, 162
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg"
CAPTION "NetWare Bindery Object Data"
BEGIN
	CONTROL "", IDC_OBJ_TYPE_FILTER, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 58, 74, 91, 42
	LTEXT "Object Name:", -1, 7, 61, 49, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Object Type:", -1, 7, 76, 49, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Object ID:", -1, 8, 138, 47, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_OBJ_NAME_FILTER, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 58, 59, 91, 58
	CONTROL "Object ID", IDC_OBJ_ID_DATA, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 58, 136, 91, 48
	DEFPUSHBUTTON "OK", IDOK, 164, 28, 40, 12
	PUSHBUTTON "Cancel", IDCANCEL, 164, 46, 40, 12
	CONTROL "", IDC_SERVER_NAME, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 58, 27, 91, 70
	LTEXT "Server Name:", -1, 7, 29, 50, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	ICON "BindIcon", -1, 5, 3, 16, 16, WS_CHILD | WS_VISIBLE
	LTEXT "NW Bindery", IDC_DLG_TITLE, 26, 3, 178, 15, WS_CHILD | WS_VISIBLE | WS_GROUP
	PUSHBUTTON "Help", IDC_OBJ_EDIT_HELP, 164, 73, 40, 12
	LTEXT "Object Name:", -1, 8, 110, 48, 8
	CONTROL "", IDC_OBJ_NAME_DATA, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 58, 108, 91, 49
	CONTROL "", 106, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 0, 22, 208, 1
	CONTROL "", 107, "BorShade", 3 | WS_CHILD | WS_VISIBLE, 157, 23, 1, 139
	CONTROL "", 109, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 5, 106, 148, 48
	LTEXT "Object Type:", -1, 8, 124, 48, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "Object ID", IDC_OBJ_TYPE_DATA, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 58, 122, 91, 48
	CONTROL "", 110, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 4, 55, 149, 35
	LTEXT " Object Filters", -1, 4, 47, 149, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT " Object Data", -1, 5, 98, 148, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END

BindIcon ICON "nwbind.ico"

1 VERSIONINFO 
FILEVERSION 0, 0, 1, 0
PRODUCTVERSION 1, 0, 0, 1
FILEFLAGSMASK 0
FILEOS VOS__WINDOWS16
FILETYPE VFT_DLL
BEGIN
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 1033, 1252
	END

	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "Novell, Inc.\000"
			VALUE "FileDescription", "AppWare Loadable Module: NetWare Bindery Object\000"
			VALUE "FileVersion", "0.01\000"
			VALUE "InternalName", "ALM_BIND\000"
			VALUE "LegalCopyright", "Copyright © Novell, Inc. 1994\000"
			VALUE "OriginalFilename", "ALM_BIND.DLL\000"
			VALUE "ProductName", "Visual AppBuilder (TM)\000"
			VALUE "ProductVersion", "1.00\000"
			VALUE "LegalTrademarks", "AppWare, Visual AppBuilder, AppWare Loadable Module, NetWare, and Novell are registered trademarks of Novell, Inc.\0"
		END

	END

END


STRINGTABLE 
BEGIN
	1, "VeRsIoN=0.01"
	2, "\0"
	3, "CoPyRiGhT=Copyright (c) 1993-1994 Novell, Inc.  All rights reserved.\0"
	4, "\0"
END

