////////////////////////////////////////////////////////////////////////////
//
//  Copyright (c) Unpublished Work of Novell, Inc.  All rights reserved.
//
//  THIS WORK IS AN UNPUBLISHED WORK AND CONTAINS CONFIDENTIAL,
//  PROPRIETARY, AND TRADE SECRET INFORMATION OF NOVELL, INC.
//  ACCESS TO THIS WORK IS RESTRICTED TO (I) NOVELL EMPLOYEES WHO HAVE
//  A NEED TO KNOW TO PERFORM THEIR TASKS WITHIN THE SCOPE OF
//  THEIR ASSIGNMENTS AND (II) ENTITIES OTHER THAN NOVELL WHO HAVE
//  ENTERED INTO APPROPRIATE LICENCE AGREEMENTS.  NO PART OF THIS
//  WORK MAY BE USED, PRACTICED, PERFORMED, COPIED, DISTRIBUTED,
//  REVISED, MODIFIED, TRANSLATED, ABRIDGED, CONDENSED, EXPANDED,
//  COLLECTED, COMPILED, LINKED, RECAST, TRANSFORMED, OR ADAPTED
//  WITHOUT THE PRIOR WRITTEN CONSENT OF NOVELL.  ANY USE OR
//  EXPLOITATION OF THIS WORK WITHOUT AUTHORIZATION COULD SUBJECT
//  THE PERPETRATOR TO CRIMINAL AND CIVIL LIABILITY.
//
//--------------------------------------------------------------------------
//
// FILE:          "loop.rc"
//
// AUTHOR:        Kevin J. Smart
//
// DESCRIPTION:   
//
// CHANGES:
//
////////////////////////////////////////////////////////////////////////////

#include <windows.h>
#include <bwcc.h>
#include <ver.h>

#include "loop_rc.h"

DLG_EDITLOOP DIALOG 16, 24, 201, 132
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Loop"
FONT 8, "Helv"
BEGIN
  CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 154, 35, 40, 14
  PUSHBUTTON "Cancel", IDCANCEL, 154, 54, 40, 14
  PUSHBUTTON "&Help", IDHELP, 154, 79, 40, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
  ICON ICON_LOOPOBJECT, -1, 5, 4, 18, 20, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT "", ST_TYPENAME, 28, 5, 168, 19, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", -1, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 0, 29, 201, 2
  LTEXT " Loop Type", -1, 6, 35, 134, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 45, 135, 19
  CONTROL "&Tight Loop", RB_TIGHT, "BorRadio", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 50, 57, 10
  CONTROL "&Multitasking", RB_MULTITASK, "BorRadio", 9 | WS_CHILD | WS_VISIBLE, 78, 50, 57, 10
  CONTROL "", -1, "BorShade", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 70, 135, 56
  LTEXT "Loop &Start:", -1, 12, 77, 39, 8
  EDITTEXT ED_START, 70, 75, 66, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
  LTEXT "Loop &Length:", -1, 12, 94, 45, 8
  EDITTEXT ED_LENGTH, 70, 92, 66, 12
  CONTROL "Assign &Value To:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 111, 57, 8
  CONTROL "", CB_CONNECT, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 70, 109, 66, 54
  CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 147, 35, 2, 92
END

ICON_LOOPOBJECT ICON "loop.ico"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Loop Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "ALM_LOOP\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_LOOP.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
