////////////////////////////////////////////////////////////////////////////
//
//  Copyright (c) Unpublished Work of Novell, Inc.  All rights reserved.
//
//  THIS WORK IS AN UNPUBLISHED WORK AND CONTAINS CONFIDENTIAL,
//  PROPRIETARY, AND TRADE SECRET INFORMATION OF NOVELL, INC.
//  ACCESS TO THIS WORK IS RESTRICTED TO (I) NOVELL, INC. EMPLOYEES
//  WHO HAVE A NEED TO KNOW HOW TO PERFORM THEIR TASKS WITHIN THE SCOPE
//  OF THEIR ASSIGNMENTS AND (II) ENTITIES OTHER THAN NOVELL, INC. WHO
//  HAVE ENTERED INTO APPROPRIATE LICENSE AGREEMENTS.  NO PART OF THIS
//  WORK MAY BE USED, PRACTICED, PERFORMED, COPIED, DISTRIBUTED,
//  REVISED, MODIFIED, TRANSLATED, ABRIDGED, CONDENSED, EXPANDED,
//  COLLECTED, COMPILED, LINKED, RECAST, TRANSFORMED, OR ADAPTED
//  WITHOUT THE PRIOR WRITTEN CONSENT OF NOVELL, INC.  ANY USE OR
//  EXPLOITATION OF THIS WORK WITHOUT AUTHORIZATION COULD SUBJECT
//  THE PERPETRATOR TO CRIMINAL AND CIVIL LIABILITY.
//
//--------------------------------------------------------------------------
//
// FILE:  "tabl_rsc.rc"
//
// AUTHOR:
//
// DESCRIPTION:
//
// CHANGES:
//
//////////////////////////////////////////////////////////////////////////////

#include <windows.h>
#include <bwcc.h>
#include <ver.H>
#include "tabl_rsc.h"

TABLEICON ICON "table.ico"

TABLEDIALOG DIALOG 23, 16, 330, 236
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New Table"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 272, 8, 50, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 272, 26, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "Option&s...", IDD_OPTIONS, 272, 44, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 272, 98, 50, 14
 PUSHBUTTON " << A&dd <<", IDD_ADD, 89, 37, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Remove", IDD_REMOVE, 89, 55, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Edit...", IDD_EDIT, 89, 73, 50, 14
 LTEXT "Colu&mns in table:", -1, 18, 18, 60, 11
 LISTBOX IDD_COLUMNS, 18, 29, 65, 70, LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 LTEXT "&Available objects:", -1, 147, 18, 61, 11
 LISTBOX IDD_AVAILOBJS, 147, 29, 65, 70, LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 CONTROL "A&ll", IDD_ALL, "BUTTON", BS_AUTORADIOBUTTON, 218, 26, 36, 12
 CONTROL "&Text", IDD_TEXT, "BUTTON", BS_AUTORADIOBUTTON, 218, 38, 36, 12
 CONTROL "&Number", IDD_NUMBER, "BUTTON", BS_AUTORADIOBUTTON, 218, 50, 36, 12
 CONTROL "Date", IDD_DATE, "BUTTON", BS_AUTORADIOBUTTON, 218, 62, 36, 12
 CONTROL "Time", IDD_TIME, "BUTTON", BS_AUTORADIOBUTTON, 218, 74, 36, 12
 CONTROL "Fields", IDD_SOURCEFIELDS, "BUTTON", BS_AUTORADIOBUTTON, 218, 86, 36, 12
 GROUPBOX " Selected Column Attributes", IDD_SELCOLUMNATTRIB, 8, 116, 256, 112
 GROUPBOX " Default Column Attributes", IDD_DEFCOLUMNATTRIB, 8, 116, 256, 112, WS_CHILD | WS_VISIBLE | WS_GROUP
 LTEXT "Column tit&le:", IDD_STATICTITLE, 18, 129, 45, 11
 EDITTEXT IDD_TITLE, 65, 129, 73, 14, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
 GROUPBOX "Title ali&gnment", IDD_TITLEALIGNMENT, 18, 147, 121, 33, BS_GROUPBOX | WS_GROUP
 CONTROL "Left", IDD_TITLELEFT, "BUTTON", BS_AUTORADIOBUTTON, 28, 160, 25, 12
 CONTROL "Center", IDD_TITLECENTER, "BUTTON", BS_AUTORADIOBUTTON, 59, 160, 34, 12
 CONTROL "Right", IDD_TITLERIGHT, "BUTTON", BS_AUTORADIOBUTTON, 98, 160, 31, 12
 GROUPBOX "Cell alignment", IDD_ALIGNMENT, 18, 187, 121, 33, BS_GROUPBOX | WS_GROUP
 CONTROL "Left", IDD_LEFT, "BUTTON", BS_AUTORADIOBUTTON, 28, 200, 27, 12
 CONTROL "Center", IDD_CENTER, "BUTTON", BS_AUTORADIOBUTTON, 59, 200, 34, 12
 CONTROL "Right", IDD_RIGHT, "BUTTON", BS_AUTORADIOBUTTON, 98, 200, 30, 12
 CHECKBOX "Edita&ble", IDD_EDITABLE, 179, 129, 46, 14, BS_CHECKBOX | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Title f&ont...", IDD_TITLEFONT, 272, 62, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cell &font...", IDD_CELLFONT, 272, 80, 50, 14
 GROUPBOX "&Width", IDD_WIDTH, 159, 147, 95, 73, WS_CHILD | WS_VISIBLE | WS_GROUP
 CONTROL "&Pixels:", IDD_RBPIXELS, "BUTTON", BS_AUTORADIOBUTTON, 169, 160, 35, 12
 CONTROL "&Characters:", IDD_RBCHARACTERS, "BUTTON", BS_AUTORADIOBUTTON, 169, 178, 48, 11
 CONTROL "&Inches:", IDD_RBINCHES, "BUTTON", BS_AUTORADIOBUTTON, 169, 196, 38, 12
 EDITTEXT IDD_PIXELS, 219, 160, 25, 14, ES_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
 EDITTEXT IDD_CHARACTERS, 219, 178, 25, 14, ES_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
 EDITTEXT IDD_INCHES, 219, 196, 25, 14, ES_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
 GROUPBOX "Group", IDC_GROUPBOX1, 8, 5, 256, 106, BS_GROUPBOX
}


TABLEATTRIBUTES DIALOG 30, 30, 292, 225
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Table Attributes"
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "OK", IDOK, 234, 8, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 234, 26, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Help", IDHELP, 234, 44, 50, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
 GROUPBOX " Auto table options", -1, 8, 5, 104, 150, BS_GROUPBOX | WS_GROUP
 CHECKBOX "&Auto-fill rows", IDD_AUTOFILL, 18, 18, 59, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CONTROL "# Rows &Buffered:", IDD_NUMBUFFEREDSTATIC, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 18, 46, 58, 11
 EDITTEXT IDD_NUMBUFFERED, 82, 46, 20, 14, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 LTEXT "&Data source object:", IDD_DATASOURCESTATIC, 18, 64, 72, 11
 COMBOBOX IDD_DATASOURCE, 18, 74, 84, 54, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 LTEXT "Inde&xed field object:", IDD_INDEXEDFIELDSTATIC, 18, 92, 72, 11
 COMBOBOX IDD_INDEXEDFIELD, 18, 103, 84, 54, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 LTEXT "Row &index object:", IDD_ROWINDEXSTATIC, 18, 121, 64, 11
 COMBOBOX IDD_ROWINDEX, 19, 132, 84, 54, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 GROUPBOX "Visual options", -1, 120, 5, 106, 150, BS_GROUPBOX | WS_GROUP
 CHECKBOX "Hori&zontal scroll", IDD_HSCROLL, 130, 18, 87, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "&Vertical scroll", IDD_VSCROLL, 130, 30, 87, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "&Row lines", IDD_ROWLINES, 130, 42, 87, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "Column &lines", IDD_COLUMNLINES, 130, 54, 87, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "Show column &titles", IDD_SHOWTITLES, 130, 66, 87, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "R&esizable columns", IDD_CANRESIZE, 130, 78, 87, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "Sho&w column selection", IDD_SHOWCOLSEL, 130, 90, 87, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "&Show selected cell", IDD_SHOWCELLSEL, 130, 102, 87, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 GROUPBOX " Functional options", -1, 8, 160, 218, 57, BS_GROUPBOX | WS_GROUP
 CHECKBOX "&Can activate", IDD_CANACTIVATE, 18, 173, 74, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "&Multiple selections", IDD_MULTISELECT, 18, 185, 87, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "Clairvo&yant selections", IDD_CLAIRVOYANTSEL, 18, 198, 87, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 LTEXT "&Fix first", IDD_FIXFIRSTSTATIC, 126, 173, 27, 11
 EDITTEXT IDD_FIXFIRST, 158, 173, 16, 14, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT "columns.", IDD_COLUMNSTATIC, 182, 173, 30, 11
 CHECKBOX "A&uto column", IDD_ADHOC, 18, 30, 59, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}

RESIZECURSOR CURSOR "resize.cur"

BORDERBITMAP BITMAP  "border.bmp"



1 VERSIONINFO LOADONCALL MOVEABLE
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Table Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "AW32TABL\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "AW32TABL.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END
