////////////////////////////////////////////////////////////////////////////
//
//  Copyright (c) Unpublished Work of Novell, Inc.  All rights reserved.
//
//  THIS WORK IS AN UNPUBLISHED WORK AND CONTAINS CONFIDENTIAL,
//  PROPRIETARY, AND TRADE SECRET INFORMATION OF NOVELL, INC.
//  ACCESS TO THIS WORK IS RESTRICTED TO (I) NOVELL EMPLOYEES WHO HAVE
//  A NEED TO KNOW TO PERFORM THEIR TASKS WITHIN THE SCOPE OF
//  THEIR ASSIGNMENTS AND (II) ENTITIES OTHER THAN NOVELL WHO HAVE
//  ENTERED INTO APPROPRIATE LICENCE AGREEMENTS.  NO PART OF THIS
//  WORK MAY BE USED, PRACTICED, PERFORMED, COPIED, DISTRIBUTED,
//  REVISED, MODIFIED, TRANSLATED, ABRIDGED, CONDENSED, EXPANDED,
//  COLLECTED, COMPILED, LINKED, RECAST, TRANSFORMED, OR ADAPTED
//  WITHOUT THE PRIOR WRITTEN CONSENT OF NOVELL.  ANY USE OR
//  EXPLOITATION OF THIS WORK WITHOUT AUTHORIZATION COULD SUBJECT
//  THE PERPETRATOR TO CRIMINAL AND CIVIL LIABILITY.
//
//--------------------------------------------------------------------------
//
// FILE:          "dt_res.rc"
//
// AUTHOR:        Ksai Liang
//
// DESCRIPTION:   
//
// CHANGES:
//
////////////////////////////////////////////////////////////////////////////

#include <windows.h>
#include <bwcc.h>
#include <ver.h>

#include "dt_dialg.h"

date ICON "date.ico"

DATE_SETUP_DIALOG DIALOG 37, 42, 256, 176
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CLASS "bordlg"
CAPTION "Date Object Setup"
FONT 8, "Helv"
BEGIN
  ICON "date", -1, 8, 4, 18, 20, WS_CHILD | WS_VISIBLE
  LTEXT "&Date:", -1, 8, 32, 174, 10
  LTEXT "Display St&yle:", -1, 8, 67, 174, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", 117, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 0, 26, 261, 1
  CONTROL "12/5/93", RB_SHORTDATE, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 16, 82, 149, 10
  CONTROL "Sunday, December 5, 1993", RB_LONGDATE, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 95, 150, 10
  LTEXT "&Options:", -1, 8, 119, 174, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "&Editable", RB_EDITABLE, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 15, 131, 52, 10
  CONTROL "Keep &Current", RB_KEEPCURRENT, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 143, 57, 10
  CONTROL "S&tatic", RB_NEITHER, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 156, 57, 10
  CONTROL "Show &Frame", CB_FRAME, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 131, 50, 12
  CONTROL "Can &Activate", CB_CANACTIVATE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 144, 99, 12
  CONTROL "&Select All When Activated", CB_SELECTALL, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 144, 99, 12
  CONTROL "&Initially Display Empty", CB_DISPLAYEMPTY, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 156, 99, 12
  CONTROL "", 114, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 8, 43, 174, 18
  CONTROL "", 115, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 8, 76, 174, 34
  CONTROL "", 116, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 8, 129, 174, 40
  LTEXT "", ST_OBJECTNAME, 30, 5, 148, 20, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", 119, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 189, 43, 1, 126
  CONTROL "OK", PB_OK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 201, 40, 50, 14
  PUSHBUTTON "Cancel", PB_CANCEL, 201, 60, 50, 14
  PUSHBUTTON "&Attributes...", PB_FONTS, 201, 80, 50, 14
  PUSHBUTTON "&Help", PB_HELP, 201, 113, 50, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP

  EDITTEXT ED_TITLE, 11, 45, 168, 14, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
END

/////////////////////////////////////////////////////////

STRINGTABLE LOADONCALL DISCARDABLE MOVEABLE
BEGIN
  LONGMONTH_NAMES+0   "January"
  LONGMONTH_NAMES+1   "February"
  LONGMONTH_NAMES+2   "March"
  LONGMONTH_NAMES+3   "April"
  LONGMONTH_NAMES+4   "May"
  LONGMONTH_NAMES+5   "June"
  LONGMONTH_NAMES+6   "July"
  LONGMONTH_NAMES+7   "August"
  LONGMONTH_NAMES+8   "September"
  LONGMONTH_NAMES+9   "October"
  LONGMONTH_NAMES+10  "November"
  LONGMONTH_NAMES+11  "December"
  SHORTMONTH_NAMES+0   "Jan"
  SHORTMONTH_NAMES+1   "Feb"
  SHORTMONTH_NAMES+2   "Mar"
  SHORTMONTH_NAMES+3   "Apr"
  SHORTMONTH_NAMES+4   "May"
  SHORTMONTH_NAMES+5   "Jun"
  SHORTMONTH_NAMES+6   "Jul"
  SHORTMONTH_NAMES+7   "Aug"
  SHORTMONTH_NAMES+8   "Sep"
  SHORTMONTH_NAMES+9   "Oct"
  SHORTMONTH_NAMES+10  "Nov"
  SHORTMONTH_NAMES+11  "Dec"
  LONGDAY_NAMES+0     "Sunday"
  LONGDAY_NAMES+1     "Monday"
  LONGDAY_NAMES+2     "Tuesday"
  LONGDAY_NAMES+3     "Wednesday"
  LONGDAY_NAMES+4     "Thursday"
  LONGDAY_NAMES+5     "Friday"
  LONGDAY_NAMES+6     "Saturday"
  SHORTDAY_NAMES+0     "Sun"
  SHORTDAY_NAMES+1     "Mon"
  SHORTDAY_NAMES+2     "Tue"
  SHORTDAY_NAMES+3     "Wed"
  SHORTDAY_NAMES+4     "Thu"
  SHORTDAY_NAMES+5     "Fri"
  SHORTDAY_NAMES+6     "Sat"
END

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Date Object\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "ALM_DATE\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "ALM_DATE.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  1, "VeRsIoN=1.20\0"
  2, "\0"
  3, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
