#include <windows.h>
#include <bwcc.h>

#include "movctrl.h"
#include "control.ver"

CtrlDlg DIALOG 38, 32, 215, 126
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Controller"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON "OK", PB_OK, 164, 40, 37, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", PB_CANCEL, 164, 62, 37, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Help", PB_HELP, 164, 91, 37, 14, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP
	LTEXT "&Movie Assigned Is:", -1, 12, 42, 65, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", CB_MOVIEASSIGNED, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 83, 40, 70, 36
	CONTROL "Show Spea&ker", CB_SHOWSPEAKER, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 73, 68, 10
	CONTROL "Allow &Selections", CB_ALLOWSELECTIONS, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 85, 68, 10
	CONTROL "Show Ste&pper", CB_SHOWSTEPPERS, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 73, 59, 10
//  !	CONTROL "Draw in &Color", CB_DRAWINCOLOR, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 85, 59, 10
	CONTROL "", 105, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 9, 68, 141, 30
	LTEXT "Options:", -1, 9, 59, 141, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "CntrlIcon", CntrlIconID, "static", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 3, 18, 20
	LTEXT "", ST_MCTRLNAME, 28, 3, 182, 20, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 106, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 0, 28, 215, 2
//	CONTROL "", ST_MCTRLRECT, "static", SS_WHITERECT | WS_CHILD | WS_VISIBLE, 9, 107, 141, 26
     	CONTROL "", 108, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 9, 40, 70, 13
END

CntrlIcon ICON "cntrl.ico"

Speaker BITMAP "spkr.bmp"
Area BITMAP "area.bmp"
AreaSel BITMAP "areasel.bmp"
Steppers BITMAP "steppers.bmp"

#include "qtw.err"