
#include <windows.h>
#include <alm_csta.h>

TLineIcon ICON "icons/callobj.ico"
TDevcIcon ICON "icons/cstastrm.ico"



TDevObjectEdit DIALOG 17, 16, 260, 189
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "CSTA Object"
FONT 8, "helv"
{
	CONTROL "", IDC_SERVERID, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 48, 89, 59
	CONTROL "", IDC_LOGINID, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 72, 89, 59
	CONTROL "", IDC_PASSWORD, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 96, 89, 59
	CONTROL "", IDC_SENDQSIZE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 144, 89, 59
	CONTROL "", IDC_RECVQSIZE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 168, 89, 59
	DEFPUSHBUTTON "OK", IDOK, 126, 44, 50, 14
	PUSHBUTTON "Cancel", IDCANCEL, 193, 44, 50, 14
	ICON "TDevcIcon", -1, 5, 6, 18, 20, WS_CHILD | WS_VISIBLE
	CONTROL "", IDC_OBJECT, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 27, 8, 228, 16
	LTEXT "Server Name:", -1, 8, 40, 71, 8
	LTEXT "Login Name:", -1, 8, 64, 71, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Password:", -1, 8, 88, 71, 8
	LTEXT "Send Queue Size:", -1, 8, 136, 71, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Receive Queue Size:", -1, 8, 160, 71, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_OWNEDLIST, "LISTBOX", LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 114, 103, 66, 58
	CONTROL "", IDC_AVAILLIST, "LISTBOX", LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 186, 103, 66, 58
	CTEXT "Owned Lines", -1, 114, 92, 66, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "Available Lines", -1, 186, 92, 66, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	PUSHBUTTON "<< Add", IDC_ADDLINES, 194, 164, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Remove >>", IDC_REMOVELINES, 122, 164, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", 126, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 5, 37, 96, 147
	CONTROL "", 131, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 5, 32, 250, 1
	CONTROL "", 132, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 110, 76, 146, 108
	CONTROL "", 133, "BorShade", 3 | WS_CHILD | WS_VISIBLE, 105, 36, 2, 148
	CONTROL "", 134, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 109, 70, 147, 2
	CONTROL "", IDC_MONDEV, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 120, 89, 59
	LTEXT "Monitor PBX Extension:", -1, 8, 112, 83, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Monitorable Lines On Device", -1, 135, 80, 99, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
}

TLineObjectEdit DIALOG 31, 32, 157, 117
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "TLine Object Setup"
{
	DEFPUSHBUTTON "OK", IDOK, 110, 30, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 110, 46, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "Fonts", IDC_FONTS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 110, 71, 40, 14
	CONTROL "Help", 998, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 110, 96, 40, 14
	ICON "TLineIcon", -1, 5, 3, 16, 16, WS_CHILD | WS_VISIBLE
	CONTROL "", IDC_TITLE, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 25, 3, 128, 15
	LTEXT "PBX Extension:", -1, 7, 31, 91, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 104, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 4, 28, 97, 26
	CONTROL "", 105, "BorShade", 2 | WS_CHILD | WS_VISIBLE, 4, 23, 150, 1
	LTEXT "Line ID Character:", -1, 7, 60, 91, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT IDC_LINECHAR, 7, 68, 91, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "", 110, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 4, 86, 97, 27
	CONTROL "Green LED on Call", IDC_GREENLED, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 89, 91, 10
	CONTROL "Red LED on Active Line", IDC_REDLED, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 100, 91, 10
	CONTROL "", 111, "BorShade", 3 | WS_CHILD | WS_VISIBLE, 105, 28, 2, 85
	CONTROL "", 112, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 4, 57, 97, 26
	CONTROL "", IDC_PBXEXTENSION, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 39, 91, 50
}

