#define IDD_OBJECT      201

#include <windows.h>
#include <ver.h>

DLGBAR DIALOG 61, 94, 253, 180
STYLE DS_ABSALIGN | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Menu Bar"
FONT 8, "Helv"
BEGIN
	CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 206, 37, 40, 14
	PUSHBUTTON "Cancel", IDCANCEL, 206, 56, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "&Help", IDHELP, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 206, 80, 40, 14
	CONTROL " << A&dd <<", 101, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 80, 80, 39, 14
	PUSHBUTTON "&Remove", 102, 80, 99, 39, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Edit", 108, 80, 118, 39, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT " Display &Menu Objects by:", -1, 6, 36, 186, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "&Object Name", 109, "BUTTON", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 13, 49, 57, 10
	CONTROL "Menu &Title", 110, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 80, 49, 64, 10
	LTEXT "&Selected Menus:", -1, 10, 70, 63, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 105, "LISTBOX", LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 10, 81, 60, 60
	LTEXT "&Available Menus:", -1, 128, 70, 61, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 106, "LISTBOX", LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 128, 81, 60, 60
	LTEXT " Menu &Bar Status:", -1, 6, 148, 186, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "E&nabled", 103, "BUTTON", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 13, 161, 57, 10
	CONTROL "Disab&led", 104, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 80, 161, 64, 10
	CONTROL "BARICON", -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 4, 18, 20
	CONTROL "", 201, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 28, 5, 220, 19
//	CONTROL "", -1, "Shade", BSS_HDIP | WS_CHILD | WS_VISIBLE, 0, 29, 253, 2
//	CONTROL "", -1, "Shade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 68, 69, 74
//	CONTROL "", -1, "Shade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 124, 68, 69, 74
//	CONTROL "", -1, "Shade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 199, 36, 2, 138
//	CONTROL "", -1, "Shade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 46, 187, 16
//	CONTROL "", -1, "Shade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 6, 158, 187, 16
END

DLGMENU DIALOG 53, 18, 253, 268
STYLE DS_ABSALIGN | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Menu "
FONT 8, "Helv"
BEGIN
	CONTROL "OK", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 206, 35, 40, 14
	PUSHBUTTON "Cancel", 2, 206, 54, 40, 14
	CONTROL "&Help", IDHELP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 206, 78, 40, 14
	LTEXT "Menu &Title:", -1, 10, 41, 39, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 112, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 50, 39, 138, 12
	CONTROL "List Objects of Type:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 64, 70, 8
	CONTROL "&Menu", 117, "BUTTON", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 82, 64, 36, 10
	CONTROL "Menu &Item", 118, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 141, 64, 50, 10
	CONTROL "Displa&y Objects by:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 87, 64, 10
	CONTROL "Object &Name", 104, "BUTTON", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 82, 87, 58, 10
	CONTROL "Title", 105, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 141, 87, 45, 10
	CONTROL "Ob&jects in Menu:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 108, 56, 8
	CONTROL "Popup Menus", 115, "LISTBOX", LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 9, 119, 61, 58
	CONTROL "<< A&dd <<", 101, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 78, 106, 41, 14
	PUSHBUTTON "&Remove", 102, 78, 125, 41, 14
	PUSHBUTTON "&Edit", 119, 78, 144, 41, 14
	PUSHBUTTON "Se&parator", 103, 78, 163, 41, 14
	LTEXT "A&vailable Objects:", -1, 128, 108, 61, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 116, "LISTBOX", LBS_NOTIFY | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 128, 119, 61, 58
	LTEXT "Menu Type:", -1, 10, 188, 42, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "Norma&l", 106, "BUTTON", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 65, 188, 36, 10
	CONTROL "Pop&up Menu", 107, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 116, 188, 53, 10
	LTEXT "Menu Status:", -1, 10, 210, 45, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "En&abled", 110, "BUTTON", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 65, 210, 39, 10
	CONTROL "Disa&bled", 111, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 116, 210, 43, 10
	CONTROL "&Send Index To:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 234, 49, 10
	CONTROL "", 114, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 65, 232, 122, 53
	CONTROL "Send Te&xt To:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 249, 51, 10
	CONTROL "", 113, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 65, 247, 122, 53
//	CONTROL "", 108, "BorShade", 1 | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 229, 188, 34
	ICON "MENUICON", -1, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
	LTEXT "", IDD_OBJECT, 28, 5, 219, 19, WS_CHILD | WS_VISIBLE
//	CONTROL "", -1, "BorShade", BSS_HDIP | WS_CHILD | WS_VISIBLE, 0, 29, 253, 2
//	CONTROL "", 108, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 5, 59, 188, 18
//	CONTROL "", 108, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 5, 35, 188, 20
//	CONTROL "", 109, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 5, 105, 69, 74
//	CONTROL "", 109, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 124, 105, 69, 74
//	CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 198, 35, 2, 228
//	CONTROL "", 108, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 5, 82, 188, 18
//	CONTROL "", 108, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 5, 184, 188, 18
//	CONTROL "", 108, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 5, 206, 188, 18	 
END

DLGITEM DIALOG 77, 51, 222, 208
STYLE DS_ABSALIGN | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Menu Item"
FONT 8, "Helv"
BEGIN
	CONTROL "OK", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 175, 37, 40, 14
	PUSHBUTTON "Cancel", 2, 175, 56, 40, 14
	CONTROL "&Help", IDHELP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 175, 82, 40, 14
	LTEXT " Startup &Text:", -1, 7, 36, 153, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 108, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 11, 50, 144, 12
	LTEXT " &Startup Status", -1, 7, 72, 67, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "&Enabled", 106, "BUTTON", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 12, 87, 46, 10
	CONTROL "&Disabled", 107, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 12, 99, 46, 10
	LTEXT " T&ype", 101, 92, 72, 68, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "&Normal", 102, "BUTTON", 9 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 97, 87, 46, 10
	CONTROL "To&ggle", 103, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 97, 99, 46, 10
	LTEXT " Togg&le", -1, 7, 120, 153, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "&Check When Toggle On", 112, "BUTTON", 3 | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 12, 135, 112, 10
	CONTROL "Toggled Te&xt:", 115, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 12, 150, 49, 8
	EDITTEXT 110, 62, 148, 92, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
	LTEXT " &Options", -1, 7, 170, 153, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "Command &Key:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 187, 49, 8
	EDITTEXT 113, 62, 185, 92, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
	ICON "ITEMICON", -1, 5, 4, 18, 20, WS_CHILD | WS_VISIBLE
	LTEXT "", IDD_OBJECT, 28, 5, 188, 19, WS_CHILD | WS_VISIBLE | WS_GROUP
//	CONTROL "", -1, "BorShade", BSS_HDIP | WS_CHILD | WS_VISIBLE, 0, 29, 222, 2
//	CONTROL "", -1, "BorShade", BSS_GROUP | WS_CHILD | WS_VISIBLE, 7, 46, 153, 20
//	CONTROL "", 104, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 7, 82, 68, 32
//	CONTROL "", 104, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 92, 82, 68, 32
//	CONTROL "", 105, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 7, 130, 153, 35
//	CONTROL "", 109, "BorShade", 1 | WS_CHILD | WS_VISIBLE, 7, 180, 153, 21
//	CONTROL "", -1, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 167, 36, 2, 165	 
END

BARICON ICON "menubar.ico"
MENUICON ICON "menu.ico"
ITEMICON ICON "menuitem.ico"

POPDNARROW BITMAP "dnarrow.bmp"
POPGREYDNARROW BITMAP "gdnarrow.bmp"

// Version Info ////////////////////////////////////////////////////////////

1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION	1, 2, 0, 0
PRODUCTVERSION	1, 2, 0, 0
#ifdef AW_I_DEBUG
FILEFLAGSMASK   (VS_FF_PRERELEASE | VS_FF_DEBUG)
#elif defined ADBG_DEBUG
FILEFLAGSMASK   VS_FF_DEBUG
#else
FILEFLAGSMASK   0
#endif
FILEOS          VOS__WINDOWS16
FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Novell, Inc.\0"
      VALUE "FileDescription",  "AppWare Loadable Module: Menu, Menu Item, and Menu Bar Objects\0"
      VALUE "FileVersion",	"1.20\0"
      VALUE "InternalName",     "AW32MENU\0"
      VALUE "LegalCopyright",   "Copyright © Novell, Inc. 1993-1995.\0"
      VALUE "OriginalFilename", "AW32MENU.DLL\0"
      VALUE "ProductName",      "AppWare Version 1.20\0"
      VALUE "ProductVersion",	"1.20\0"
      VALUE "LegalTrademarks",  "AppWare, Visual AppBuilder, AppWare Loadable Module, and Novell are registered trademarks of Novell, Inc.\0"
    END
  END
END

STRINGTABLE 
BEGIN
  10001, "VeRsIoN=1.20\0"
  10002, "\0"
  10003, "CoPyRiGhT=Copyright (c) Novell, Inc. 1993-1995.  All rights reserved.\0"
END

////////////////////////////////////////////////////////////////////////////
